mat-form-field {
    width: 100%;
  }
  
  .mat-mdc-dialog-surface{
    background: white !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  {
    background-color: white !important;
  }
  
  .mdc-text-field--filled:not(.mdc-text-field--disabled) ,.mdc-text-field__input , .mdc-text-field__input::placeholder
  {
    color: black !important;
  }

   .mdc-text-field__input::placeholder
  {
    color: gray !important;
  }

  .mat-mdc-form-field-error
  {
    color: #ba1a1a !important;
  }
  .mat-mdc-form-field
  {
    display: inline !important;
  }

  .mat-mdc-simple-snack-bar
  {
    background-color: #198754 !important;
    color: white !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label
  {
    color: #198754 !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label
  {
    color: #198754 !important;
  }
 
  .mdc-line-ripple--active::after
  {
    border-bottom-color: #198754 !important;
    color:black !important;
  }