.green-snackbar {
    background: #198754;
    color: white;
    font-weight: 300;
  }
.green-snackbar button {
    background-color: #198754;
    color: white;
    border: none;
  }

.red-snackbar {
    background: #F44336;
    color: white;
    font-weight: 300;
  }
.red-snackbar button {
    background-color: #F44336;
    color: white ;
    border: none;
  }

.orange-snackbar {
    background: #198754;
    color: white;
    font-weight: 300;
  }
.orange-snackbar button {
    background-color: white;
    color: #198754 !important;
    border: none ;
  }
  /* .orange-snackbar button:hover {
    background-color: #FE5706;
    color: White;
    border: none ;
  } */