$info: #B37DF7;

.top-padding{
    padding-top: 100px;
}


  .background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/t7/images/banner.png');
    background-size: cover;
    background-position: center;
  }
  .overlay-image {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 350px;
  }

  .menu-bg {
    backdrop-filter: blur(2px);
    background-color: #FFFFFF33;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
}

  
  .btn_outline{
    border: $info 1px solid !important;
    color: $info;
  }
  .btn_outline:hover{
    border: $info 1px solid !important;
    background-color: $info;
    color: white;
  }
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label{
  color: #B37DF7 !important;
}

.mob_pic{
  top: 50%;
}
@media (max-width: 768px) {
  .mob_pic {
    top: 41% !important;
  } 
}