<div class="col mt-3">
	<h2>Settings</h2>
	<p class="">Manage account details</p>

	<div class="">
		<div class="row justify-content-center">
			<div class="col-12 d-flex justify-content-center">
				<form [formGroup]="agentForm"
					  name="brokerageForm"
					  class="w-100"
					  (ngSubmit)="save()">
					<div class="mb-4">
						<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
							<i class="fas fa-address-book text-muted me-2"></i>
							Account Information
						</h6>
						<div class="row">
							<div class="col-md-12 mb-3">
								<p-iftalabel>
									<input type="url"
										   pInputText
										   formControlName="siteUrl"
										   placeholder="Website URL"
										   class="form-control"
										   id="siteUrl"
										   required />
									<label for="siteUrl">Website URL</label>
								</p-iftalabel>
								@if (siteUrl?.invalid && (siteUrl?.dirty || siteUrl?.touched)) {
								<span class="error">
									@if (siteUrl?.errors?.['required']) {
									<span>Website URL is required</span>
									} @if (siteUrl?.errors?.['pattern']) {
									<span>Enter a valid website URL</span>
									}
								</span>
								}
							</div>
						</div>

						<div class="mb-4 border p-3 rounded shadow-sm">
							<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
								<i class="fas fa-user-tie text-muted me-2"></i>
								Primary Agent Information
							</h6>
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="text"
												   pInputText
												   formControlName="firstName"
												   placeholder="First Name"
												   class="form-control"
												   id="firstName"
												   required />
											<label for="firstName">First Name</label>
										</p-iftalabel>
										@if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
										<span class="error">
											@if (firstName?.errors?.['required']) {
											<span>First Name is required</span>
											}
										</span>
										}
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="text"
												   pInputText
												   formControlName="lastName"
												   placeholder="Last Name"
												   class="form-control"
												   id="lastName"
												   required />
											<label for="lastName">Last Name</label>
										</p-iftalabel>
										@if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
										<span class="error">
											@if (lastName?.errors?.['required']) {
											<span>Last Name is required</span>
											}
										</span>
										}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="email"
												   pInputText
												   formControlName="websiteEmail"
												   placeholder="Website Email"
												   class="form-control"
												   id="websiteEmail" />
											<label for="websiteEmail">Email (Displayed on Website)</label>
										</p-iftalabel>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<p-inputmask mask="999-999-9999"
														 formControlName="websitePhone"
														 styleClass="form-control"
														 placeholder="Website Phone"
														 id="websitePhone"></p-inputmask>
											<label for="websitePhone">Phone (Displayed on Website)</label>
										</p-iftalabel>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="text"
												   pInputText
												   formControlName="designation"
												   placeholder="Designation"
												   class="form-control"
												   id="designation" />
											<label for="designation">Designation (Displayed on Website)</label>
										</p-iftalabel>
									</div>
								</div>
							</div>
							<div class="row">
									<div class="col-lg-6 col-12">
							<h6 class="text-muted  d-flex align-items-center">
								<i class="fas fa-user-tie text-muted me-2"></i>
								Primary Agent Picture
							</h6>
							<div class="upload-container p-3 border rounded bg-light">
								<div class="row">
									<div class="col">
										<label class="form-label fw-semibold d-block"
											   style="font-size: 14px">
											<i class="fas fa-user-circle me-2"></i>
											Profile Picture
										</label>
										<input type="file"
											   (change)="onProfileImageChange($event)"
											   class="form-control upload-btn w-100"
											   id="profileImageUpload"
											   accept="image/*" />
									</div>
									<div class="col">
										@if (primaryAgentProfileImageObservable | async; as primaryAgentProfileImage) {
										<div class="mt-3 p-2 border rounded bg-white shadow-sm">
											<div class="text-center">
												<h6 class="text-dark fw-bold mb-2">Profile Picture Preview</h6>
												<img [src]="primaryAgentProfileImage"
													 class="rounded border image-preview"
													 alt="Profile Picture Preview" />
											</div>
										</div>
										}
									</div>
								</div>
							</div>
						</div>
							</div>
						</div>
						<div class="mb-4 border p-3 rounded shadow-sm"
							 formGroupName="secondaryAgent">
							<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
								<i class="fas fa-user-tie text-muted me-2"></i>
								Secondary Agent Information
							</h6>
							<div class="row">
								<div class="col-md-12">
									<div class="mb-3 d-flex gap-2">
										<label for="enableSecondaryAgent">Enable Secondary Agent</label>
										<p-toggleswitch formControlName="enableSecondaryAgent"
														id="enableSecondaryAgent" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="text"
												   pInputText
												   formControlName="firstName"
												   placeholder="First Name"
												   class="form-control"
												   id="secondaryFirstName" />
											<label for="secondaryFirstName">First Name</label>
										</p-iftalabel>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="text"
												   pInputText
												   formControlName="lastName"
												   placeholder="Last Name"
												   class="form-control"
												   id="secondaryLastName" />
											<label for="secondaryLastName">Last Name</label>
										</p-iftalabel>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<p-inputmask mask="999-999-9999"
														 formControlName="websitePhone"
														 styleClass="form-control"
														 placeholder="Website Phone"
														 id="secondaryWebsitePhone"></p-inputmask>
											<label for="secondaryWebsitePhone">Phone (Displayed on Website)</label>
										</p-iftalabel>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="email"
												   pInputText
												   formControlName="websiteEmail"
												   placeholder="Website Email"
												   class="form-control"
												   id="secondaryWebsiteEmail" />
											<label for="secondaryWebsiteEmail">Website Email</label>
										</p-iftalabel>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<p-iftalabel>
											<input type="text"
												   pInputText
												   formControlName="designation"
												   placeholder="Designation"
												   class="form-control"
												   id="designation" />
											<label for="designation">Designation (Displayed on Website)</label>
										</p-iftalabel>
									</div>
								</div>
							</div>
								<div class="row mb-3">
					
						<div class="col-lg-6 col-12">
							<h6 class="text-muted d-flex align-items-center">
								<i class="fas fa-user-tie text-muted me-2"></i>
								Secondary Agent Picture
							</h6>
							<div class="upload-container p-3 border rounded bg-light">
								<div class="row">
									<div class="col">
										<label class="form-label fw-semibold d-block"
											   style="font-size: 14px">
											<i class="fas fa-user-circle me-2"></i>
											Profile Picture
										</label>
										<input type="file"
											   (change)="onSecondaryProfileImageChange($event)"
											   class="form-control upload-btn w-100"
											   id="secondaryProfileImageUpload"
											   accept="image/*" />
									</div>
									<div class="col">
										@if ( secondaryAgentProfileImageObservable | async; as secondaryAgentProfileImage )
										{
										<div class="mt-3 p-2 border rounded bg-white shadow-sm">
											<div class="text-center">
												<h6 class="text-dark fw-bold mb-2">Profile Picture Preview</h6>
												<img [src]="secondaryAgentProfileImage"
													 class="rounded border image-preview"
													 alt="Profile Picture Preview" />
											</div>
										</div>
										}
									</div>
								</div>
							</div>
						</div>

					</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<p-iftalabel>
										<p-inputmask mask="999-999-9999"
													 formControlName="phoneNumber"
													 styleClass="form-control"
													 inputId="phoneNumber"></p-inputmask>
										<label for="phoneNumber">Phone Number</label>
									</p-iftalabel>
									@if (phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)) {
									<span class="error">
										@if (phoneNumber?.errors?.['required']) {
										<span>Phone Number is required</span>
										} @if (phoneNumber?.errors?.['pattern']) {
										<span>Enter a valid phone number</span>
										}
									</span>
									}
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<p-iftalabel>
										<input type="email"
											   pInputText
											   formControlName="emailAddress"
											   placeholder="Personal Email"
											   class="form-control"
											   id="emailAddress"
											   required />
										<label for="emailAddress">Personal Email</label>
									</p-iftalabel>
									@if (emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)) {
									<span class="error">
										@if (emailAddress?.errors?.['required']) {
										<span>Email Address is required</span>
										} @if (emailAddress?.errors?.['email']) {
										<span>Enter a valid email address</span>
										}
									</span>
									}
								</div>
							</div>
						</div>

						<div class="row mt-4">
							<div class="col-md-6">
								<div class="mb-3">
									<p-iftalabel>
										<input type="text"
											   pInputText
											   formControlName="businessName"
											   placeholder="Business Name"
											   class="form-control"
											   id="businessName"
											   required />
										<label for="businessName">Brokerage Name</label>
									</p-iftalabel>
									@if (businessName?.invalid && (businessName?.dirty || businessName?.touched)) {
									<span class="error">
										@if (businessName?.errors?.['required']) {
										<span>Brokerage Name is required</span>
										}
									</span>
									}
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<p-iftalabel>
										<input type="text"
											   pInputText
											   formControlName="address"
											   placeholder="Brokerage Address"
											   class="form-control"
											   id="address" />
										<label for="address">Brokerage Address</label>
									</p-iftalabel>
								</div>
							</div>
						</div>

					</div>


					<div class="mb-4 border p-3 rounded shadow-sm">
						
						
						<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
							<i class="fas fa-building text-muted me-2"></i>
							Brokerage Information
						</h6>
						<div class="row mt-4 justify-content-start align-items-start">
							<div class="col-lg-6 col-12">
								<label class="form-label fw-semibold d-block">
									Brokerage
								</label>
								<div class="mb-3">
									<p-iftalabel>
										<p-select formControlName="brokerageType"
												  [options]="brokerageTypes"
												  optionLabel="name"
												  optionValue="_id"
												  styleClass="w-100"
												  inputId="brokerageType"></p-select>
										<label for="brokerageType">Brokerage</label>
									</p-iftalabel>
									@if (brokerageType?.invalid && (brokerageType?.dirty || brokerageType?.touched)) {
									<span class="error">
										@if (brokerageType?.errors?.['required']) {
										<span>Brokerage is required</span>
										}
									</span>
									}
								</div>
							</div>
							<div class="col-12">
								<div class="upload-container mb-3 mb-md-0 bg-light">
									<div class="col-6">
										<label class="form-label fw-semibold d-block">
											Brokerage Logo
										</label>
										<input type="file"
											   (change)="onBrokerageLogoImageChange($event)"
											   class="form-control upload-btn w-100"
											   id="logoImageUpload"
											   accept="image/*" />
										@if (brokerageLogoImageObservable | async; as logoImage) {
										<div class="mt-3">
											<div class="text-center">
												<h6 class="text-dark fw-bold mb-2">Logo Preview</h6>
												<img [src]="logoImage"
													 class="rounded border image-preview"
													 alt="Logo Preview" />
											</div>
										</div>
										}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="mb-4 border p-3 rounded shadow-sm">
						<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
							<i class="fas fa-cog text-muted me-2"></i>
							Website Settings
						</h6>

						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<label for="primaryColor"
										   class="form-label fw-semibold d-block">
										<i class="fas fa-palette text-muted me-2"></i>
										Primary Color
									</label>
									<p-colorpicker formControlName="primaryColor"
												   inputId="primaryColor"></p-colorpicker>
									<div class="d-inline-flex align-items-center ms-3">
										<small class="text-muted">
											{{ agentForm.get("primaryColor")?.value }}
										</small>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-3">
									<label for="secondaryColor"
										   class="form-label fw-semibold d-block">
										<i class="fas fa-palette text-muted me-2"></i>
										Secondary Color
									</label>
									<p-colorpicker formControlName="secondaryColor"
												   inputId="secondaryColor"></p-colorpicker>
									<div class="d-inline-flex align-items-center ms-3">
										<small class="text-muted">
											{{ agentForm.get("secondaryColor")?.value }}
										</small>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="mb-4 border p-3 rounded shadow-sm">
						<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
							<i class="fas fa-share-alt text-muted me-2"></i>
							Social Media
						</h6>
						<div class="row">
							<div class="col-md-4">
								<div class="mb-3">
									<p-iftalabel>
										<input type="url"
											   pInputText
											   formControlName="facebook"
											   placeholder="Facebook URL"
											   class="form-control"
											   id="facebook" />
										<label for="facebook">Facebook</label>
									</p-iftalabel>
								</div>
							</div>
							<div class="col-md-4">
								<div class="mb-3">
									<p-iftalabel>
										<input type="url"
											   pInputText
											   formControlName="twitter"
											   class="form-control"
											   id="x" />
										<label for="x">X(Twitter)</label>
									</p-iftalabel>
								</div>
							</div>
							<div class="col-md-4">
								<div class="mb-3">
									<p-iftalabel>
										<input type="url"
											   pInputText
											   formControlName="instagram"
											   placeholder="Instagram URL"
											   class="form-control"
											   id="instagram" />
										<label for="instagram">Instagram</label>
									</p-iftalabel>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="mb-3">
									<p-iftalabel>
										<input type="url"
											   pInputText
											   formControlName="linkedin"
											   placeholder="Linked In URL"
											   class="form-control"
											   id="linkedin" />
										<label for="linkedin">Linkedin</label>
									</p-iftalabel>
								</div>
							</div>
							<div class="col-md-4">
								<div class="mb-3">
									<p-iftalabel>
										<input type="url"
											   pInputText
											   formControlName="youtube"
											   placeholder="YouTube URL"
											   class="form-control"
											   id="youtube" />
										<label for="youtube">Youtube</label>
									</p-iftalabel>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex justify-content-end align-items-center">
						<div class="d-flex align-items-center">
							<button type="submit"
									class="btn btn-success px-4">
								<i class="fas fa-save me-2"></i>
								Save Changes
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>