<div class="row justify-content-around search-container align-items-center">
	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<!-- <input type="text"
			   [(ngModel)]="filters.address"
			   class="search-bar"
			   placeholder="City, Address, Postal Code, MLS®#" /> -->
		<!-- <input type="text"
			   [(ngModel)]="filters.address"
			   class="search-bar"
			   placeholder="City, Address, Postal Code, MLS®#" /> -->
		<p-autocomplete [(ngModel)]="filters.address"
						[suggestions]="cities"
						optionLabel="city"
						optionValue="city"
						placeholder="Search City"
						appendTo="body"
						(completeMethod)="searchCityProvince($event)" />

	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<p-select [options]="propertyTypesDropDown"
				  [(ngModel)]="filters.property_type"
				  optionLabel="LookupValue"
				  optionValue="LookupValue"
				  placeholder="Select Property Type"
				  appendTo="body"
				  (onChange)="filterPropertySubType()" />
	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<p-select [options]="propertySubTypesDropDown"
				  [(ngModel)]="filters.property_subtype"
				  optionLabel="LookupValue"
				  optionValue="LookupValue"
				  placeholder="Select Property Subtype"
				  appendTo="body" />
	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<p-select [options]="bedTypesDropDown"
				  [(ngModel)]="filters.bedrooms"
				  optionLabel="label"
				  optionValue="value"
				  placeholder="Bedrooms"
				  appendTo="body" />
	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<p-select [options]="bathTypesDropDown"
				  [(ngModel)]="filters.bathrooms"
				  optionLabel="label"
				  optionValue="value"
				  placeholder="Bathrooms"
				  appendTo="body" />
	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<p-select [options]="statusTypesDropDown"
				  [(ngModel)]="filters.property_status"
				  optionLabel="label"
				  optionValue="value"
				  placeholder="Select Property Status"
				  appendTo="body" />
	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
		<span><i class="fa-solid fa-filter info fs-6 cursor"
			   data-bs-toggle="modal"
			   data-bs-target="#moreFilter"></i></span>
		<div class="modal fade"
			 id="moreFilter">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header head-bg text-white">
						<h4 class="modal-title"
							id="exampleModalLabel">Search Filters</h4>
						<button type="button"
								class="btn-close btn-close-white"
								data-bs-dismiss="modal"
								aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row g-4">
							<div class="col-md-6">
								<select [(ngModel)]="filters.min_price"
										class="form-select">
									@for (price of minPricesDropDown; track price) {
									<option [value]="price.value">{{price.label}}</option>
									}
								</select>
							</div>
							<div class="col-md-6">
								<select [(ngModel)]="filters.max_price"
										class="form-select">
									@for (price of maxPricesDropDown; track price) {
									<option [value]="price.value">{{price.label}}</option>
									}
								</select>
							</div>

							<div class="col-md-6">
								<select [(ngModel)]="filters.sqFt"
										class="form-select">
									@for (area of sqFtTypesDropDown; track area) {
									<option [value]="area.value">{{area.label}}</option>
									}
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
								class="btn btn-secondary btn-sm rounded-3 me-2"
								(click)="resetMoreFilters()">Reset</button>
						<button type="button"
								class="btn btn-secondary rounded-3 btn-sm"
								data-bs-dismiss="modal">Close</button>
						<button type="button"
								class="btn search_btn btn-sm"
								data-bs-dismiss="modal"
								(click)="searchProperties()">Apply</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0 d-flex align-items-center gap-2">
		<button type="button"
				class="btn btn-secondary btn-sm rounded-3"
				(click)="resetFilters()">Reset</button>

		<button type="button"
				class="btn search_btn btn-sm"
				(click)="searchProperties()">Search</button>

		@if (showMapSearch==true) {
		<button type="button"
				class="btn search_btn btn-sm"
				(click)="searchProperties(true)">Map Search</button>
		}
	</div>

</div>