<div class="container-fluid p-0">
    <div class="position-relative">
      <img class="banner w-100" src="/images/banner3.png" alt="Banner Image">
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="text-white fw-bold baner-text">Calculator</h1>
      </div>
    </div>
  </div>

   <div class="container">
        <div class="row py-5">
         <div class="col-lg-3 col-12  mt-3">
            <a class="text-decoration-none" href="">

              <div class="card p-4 border border-light shadow-sm h-100">
                <div class="mb-3">
                  <img src="/images/calculator.svg" class="" alt="LAND TRANSFER TAX CALCULATOR">
                </div>
                <h6 class="card-title text-uppercase">Land Transfer Tax Calculator</h6>
                <p class="card-text">Determine the amount of land transfer tax you will have to pay.</p>
              </div>
            </a>
         </div>
         <div class="col-lg-3 col-12  mt-3">
          <a class="text-decoration-none" href="">

            <div class="card p-4 border border-light shadow-sm h-100">
              <div class="mb-3">
                <img src="/images/calculator2.svg" class="" alt="LAND TRANSFER TAX CALCULATOR">
              </div>
              <h6 class="card-title text-uppercase">MORTGAGE LOAN CALCULATOR</h6>
              <p class="card-text">Determine your estimated monthly payment and amortization schedule.</p>
            </div>
          </a>
       </div>
       <div class="col-lg-3 col-12  mt-3">
        <a class="text-decoration-none" href="">

          <div class="card p-4 border border-light shadow-sm h-100">
            <div class="mb-3">
              <img src="/images/calculator3.svg" class="" alt="LAND TRANSFER TAX CALCULATOR">
            </div>
            <h6 class="card-title text-uppercase">MORTGAGE AFFORDABILITY CALCULATOR</h6>
            <p class="card-text">Can you buy your dream home? Find out just how much you can afford!</p>
          </div>
        </a>
     </div>
     <div class="col-lg-3 col-12  mt-3">
      <a class="text-decoration-none" href="">

        <div class="card p-4 border border-light shadow-sm h-100">
          <div class="mb-3">
            <img src="/images/calculator4.svg" class="" alt="LAND TRANSFER TAX CALCULATOR">
          </div>
          <h6 class="card-title text-uppercase">CMHC PREMIUM CALCULATOR</h6>
          <p class="card-text">A tool to help you estimate the premium payable when you are purchasing a home.</p>
        </div>
      </a>
   </div>
        </div>
    </div>