<div class="container-fluid p-0">
    <div class="position-relative">
      <img class="banner w-100" src="/images/banner3.png" alt="Banner Image">
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="text-white fw-bold baner-text">Seller</h1>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="row g-4">
  
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 border d-flex flex-column">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-danger">Selling your House</h5>
            <p class="card-text">
              Completing a Listing Agreement<br>
              What is a Listing Agreement? It is a contract between you and the brokerage company that the agent represents.
              It is a framework for subsequent forms and negotiations.
            </p>
            <a href="#" class="btn btn-danger btn-sm mt-auto">Detail...</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 border d-flex flex-column">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-danger">Renovating for Resale</h5>
            <p class="card-text">
              The money invested in improving your home will not always translate into an equivalent return in the selling price of your home.
              So careful planning is important if you want to increase the salability.
            </p>
            <a href="#" class="btn btn-danger btn-sm mt-auto">Detail...</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-4">
        <div class="card h-100 border d-flex flex-column">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-danger">Common Selling Mistakes</h5>
            <p class="card-text">
              Incorrect Pricing<br>
              Every seller naturally wants to get the most money for his or her product. The most common mistake that causes sellers to get less than they hope for, however, is listing too high.
            </p>
            <a href="#" class="btn btn-danger btn-sm mt-auto">Detail...</a>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  