<div class="container-fluid fotter-bg mt-5">
	<div class="container">

		<footer class="py-5">
			<div class="row justify-content-center align-items-center  border-bottom pb-3 mb-3 ">
				<div class="col-lg-2 col-12 d-flex justify-content-center mb-3 mb-lg-0">
					<img src="t1/images/footer.png" alt="">
				</div>
				<div class="col-lg-6 col-12  mb-3 mb-lg-0">

					<p class="fs-3 fw-semibold text-center">Address</p>

					<p class=" text-center small">
						HomeLife/Miracle Realty Ltd., Brokerage <br>
						470 Chrysler Dr # 20 , Brampton, L6S 0C1
					</p>
				</div>
				<div class="col-lg-2 col-12 mb-3 mb-lg-0 footer-contact">
					<p class="fs-3 fw-semibold text-center"> Contact</p>
					<div class=" d-flex justify-content-center">
						<div class="">
							<img src="t1/images/vector img/call2.png" alt="" />
						</div>
						<div class="ms-2">
							<p>
								<a class="text-white fw-semibold small text-decoration-none pop" href="tel:+4733378901">+47 333 78 901</a>
							</p>
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="">
							<img src="t1/images/vector img/mail2.png" alt="" />
						</div>
						<div class="ms-2">
							<p>
								<a class="text-white fw-semibold small text-decoration-none pop" href="mailto:someone@example.com">demo&#64;cc.com
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<p class="text-center text-white small">Copyright 2021 All rights reserved. Toronto Real Estate Board (TREB) assumes no responsibility for the accuracy of any information shown. The information provided herein must only be used by consumers that have a bona fide interest in the purchase, sale or lease of real estate and may not be used for any commercial purpose or any other purpose.</p>
		</footer>
	</div>
</div>