<div class="container">
	<div class="row py-2 align-items-center justify-content-center">
		<div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
			<a href="/t1" *ngIf="customer && customer.customerId!=''">
				<svg-icon *ngIf="showSVG == true" src="{{customer.logoImagePath}}"></svg-icon>
				<img *ngIf="showSVG == false" [src]="customer.logoImage?customer.logoImage:'/images/Nologo.png'" alt="No brokerage logo" height="66px" />
				<img *ngIf="showSVG == false" [src]="customer.logoImagePath?customer.logoImagePath:'/images/Nologo.png'" alt="No brokerage logo" height="66px" />
			  </a>
		</div>
		<div class="col-12 col-lg-6 d-flex py-lg-0 py-4 justify-content-center">
			<div class="d-flex justify-content-center">
				<div class="">
					<img src="t1/images/vector img/call.png" alt="" />
				</div>
				<div class="ms-2">
					<p class="mb-0">
						<a class="text-dark fw-semibold small text-decoration-none pop" [href]="'tel:{{customer?.phoneNumber | phone}}'">{{customer?.phoneNumber | phone}}</a>
					</p>
				</div>
			</div>
			<div class="d-flex justify-content-center ms-3">
				<div class="">
					<img src="t1/images/vector img/email.png" alt="" />
				</div>
				<div class="ms-2">
					<p class="mb-0">
						<a class="text-dark fw-semibold small text-decoration-none pop" [href]="'mailto:' +customer?.emailAddress">{{customer?.emailAddress}}</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-end">
			<div class="">
				<h4 class="mb-0">{{customer?.firstName}} {{customer?.lastName}}</h4>
				<p class="text-center small mb-0">{{customer?.role?.RoleName | upper}}</p>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-expand-lg nav_bg" aria-label="Offcanvas navbar large">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
			<span class=""><i class="fa-solid fa-bars text-white"></i></span>
		</button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbar2Label">
					Brokers
				</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav flex-grow-1 pe-3 home_nav">
					<li class="nav-item">
						<a class="nav-link nav_content" href="/t1/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" href="/t1/seller">Seller</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" href="/t1/buyer">Buyer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" href="/t1/featuredlistings">Featured Listings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" href="/t1/calculator">Calculators</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" href="/t1/contact">Contact</a>
					</li>
					<li class="nav-item">
						<div class="d-flex align-items-center">
							<img class="logo " src="t1/images/vector img/login.png" alt="">
							<div class="d-flex align-items-center justify-content-center">
								<div class="">
									<a class="nav-link nav_content" href="/login">Login </a>
								</div>
								<div class="">|</div>
								<div class="">
									<a class="nav-link nav_content" href="/register">Signup</a>

								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>