<div class="background-container">
	<div class="container pt-2 search-container">
		<div class="top-padding">
			<div class="row justify-content-center">
				<p class="text text-white fw-semibold pt-3">Search Your Dream Home</p>
				<p class="text-white text-center">We are recognized for exceeding client expectations and delivering great results through dedication,<br> ease of process, and
					extraordinary services to our worldwide clients.</p>
				<div class="col-12 menu-bg p-4 mb-5">
					<app-search [onSearch]="searchProperties" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid search-container">
	<div class="container py-5">
		<p class="text text-center py-3 fw-semibold">Featured Properties</p>
		<app-featured-properties />
	</div>
</div>


<div class="container-fluid">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6 col-12">
				<p class="fs-2 mb-0 fw-semibold ">
					Hi, I’m {{siteConfig.firstName}} {{siteConfig.lastName}}
				</p>
				<p class="fs-4 info">Sales Representative</p>
				<p class="fw-semibold mb-0">I believe every client has the right to be treated fairly, honestly and with integrity. My aim is to educate and prepare my clients to
					insure that they are always in a position to make informed decisions.</p>
				<p class="fw-semibold">
					Every engagement is an opportunity to create a lasting impression and a forever client. Acharya is a well serving in real estate with the reputation of
					providing quality services and keeping excellent relations with the clients. </p>

				<!-- Button trigger modal -->
				<button type="button"
						class="btn search_btn"
						data-bs-toggle="modal"
						data-bs-target="#exampleModal">
					Get in Touch
				</button>

			</div>
			<div class="col-lg-6 col-12 mt-lg-0 mt-5 pt-lg-0 pt-5  d-flex justify-content-lg-end justify-content-center">
				<div class="">
					<div class="position-relative d-inline-block">
						<img class="img-fluid"
							 src="./t7/images/profile-bg.png"
							 alt="profile-bg">
						<img [src]="siteConfig.websiteSettings.profileImage? siteConfig.websiteSettings.profileImage : '/images/Nologo.png'"
							 alt="No profile image"
							 class="overlay-image position-absolute top-50 start-50 translate-middle mob_pic"
							 style="height: 367px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid search-container">
	<div class="container py-lg-5 p-lg-0 p-4">
		<p class="text text-center py-3 fw-semibold">
			Find Properties in These Cities
		</p>
		<div class="row">
			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Toronto'})">
					<img class="w-100 rounded-3"
						 src="t8/images/proToronto.png"
						 alt="">
					<div class="image-text">Toronto</div>
				</div>
			</div>

			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Mississauga'})">
					<img class="w-100 rounded-3"
						 src="t8/images/proMississuaga.png"
						 alt="">
					<div class="image-text">Mississauga</div>
				</div>
			</div>

			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Brampton'})">
					<img class="w-100 rounded-3"
						 src="t8/images/proBrampton.png"
						 alt="">
					<div class="image-text">Brampton</div>
				</div>
			</div>
			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Milton'})">
					<img class="w-100 rounded-3"
						 src="t8/images/proMilton.png"
						 alt="">
					<div class="image-text">Milton</div>

				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Ottawa'})">
					<img class="w-100 rounded-3"
						 src="t8/images/proOttawa.png"
						 alt="">
					<div class="image-text">Ottawa</div>
				</div>
			</div>

			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Montreal'})">
					<img class="w-100 rounded-3"
						 src="t8/images/proMontreal.png"
						 alt="">
					<div class="image-text">Montreal</div>
				</div>
			</div>

			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Milton'})">
					<img class="w-100 rounded-3"
						 src="t8/images/pro2.png"
						 alt="">
					<div class="image-text">Milton</div>
				</div>
			</div>
			<div class="col-lg-3 col-12 mt-lg-0 mt-3">
				<div class="image-container w-100"
					 (click)="searchProperties({address:'Brampton'})">
					<img class="w-100 rounded-3"
						 src="t8/images/pro2.png"
						 alt="">
					<div class="image-text">Brampton</div>

				</div>
			</div>
		</div>

	</div>
</div>

<div class="container py-lg-5 p-lg-0 p-4 search-container">
	<div class="row align-items-center justify-content-around">
		<div class="col-lg-5 col-12">
			<h2 class=" fw-semibold">
				"Enjoy a clear and simple <br> home-buying experience"
			</h2>
			<p class="info fs-4">Real Estate Specialist Name</p>
			<p class=" fw-normal">
				I believe every client has the right to be treated fairly, honestly and with integrity. My aim is to
				educate and prepare my clients to insure that they are always in a position to make informed decisions.
				Every engagement is an opportunity to create a lasting impression and a forever client.
			</p>
		</div>
		<div class="col-lg-7 col-12 mt-3 mt-lg-0 d-flex justify-content-lg-end">
			<div class="">
				<img class="w-100 rounded"
					 src="t8/images/real-state.png"
					 alt="">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid sec-3">
	<div class="container">
		<div class="row py-lg-5 p-lg-0 p-4 align-items-center justify-content-center">
			<div class="col-lg-8 col-12">
				<p class="worth">
					WHAT’S YOUR HOME
					<br />
					REALLY WORTH?
				</p>
				<p class="text-white">
					Type your address below to find out how much your
					<br />
					property is worth.
				</p>
			</div>
			<div class="col-lg-4 col-12">
				<div class="input-group mb-3">
					<input type="text"
						   class="form-control email"
						   placeholder="Email address.."
						   aria-label="Username"
						   aria-describedby="basic-addon1" />
				</div>
				<button type="button"
						class="btn btn-light w-100 submit fw-semibold">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>