@if(team.length > 0){
<div class="container py-5 mb-5">
	<div class="container-fluid search-container">
		<div class="container">
			<div class="row justify-content-center">
				<h2 class="fw-semibold text-center info mt-3">Our Team</h2>
			</div>
		</div>
	</div>
	<div class="row g-4 justify-content-center">
		<!-- Agent Card -->
		@for (_team of team; track $index) {
		<div class="col-12 col-sm-6 col-lg-3">
			<div class="premium-card">
				<div class="premium-img-wrapper">
					<img [src]="_team.profileImage"
						 class="premium-img"
						 [alt]="_team.firstName">
				</div>

				<div class="premium-body">
					<h5 class="premium-name">{{_team.firstName}} {{_team.lastName}}</h5>
					<div class="premium-divider"></div>
					<p class="premium-phone">{{_team.phoneNumber}}</p>
					<p class="premium-title">{{_team.designation}}</p>

					<a [routerLink]="['/team', _team._id]"
					   class="premium-btn">View Details</a>
				</div>
			</div>
		</div>
		}

	</div>
</div>
}