@if(team.length > 0){
<section class="home-team-section">
	<div class="container">

		<div class="home-team-header">
			<p class="home-team-label">The People Behind The Properties</p>
			<h2 class="home-team-title">Meet Our Team</h2>
			<div class="home-team-divider"></div>
		</div>

		<div class="row g-4 justify-content-center">
			@for (_team of team | slice:0:4; track $index) {
			<div class="col-12 col-sm-6 col-lg-3">
				<div class="ht-card">
					<div class="ht-img-wrap">
						<img
							[src]="localImageUrl + _team.profileImage"
							class="ht-img"
							[alt]="_team.firstName" />
						<div class="ht-overlay">
							<a [routerLink]="['/team', _team._id]" class="ht-overlay-btn">
								View Profile
							</a>
						</div>
					</div>
					<div class="ht-body">
						<h5 class="ht-name">{{ _team.firstName }} {{ _team.lastName }}</h5>
						<p class="ht-role">{{ _team.designation }}</p>
						@if (_team.about) {
							<p class="ht-about">{{ _team.about }}</p>
						}
					</div>
				</div>
			</div>
			}
		</div>

		<div class="text-center mt-5">
			<a routerLink="/team" class="ht-see-all">
				See All Team Members <i class="fa-solid fa-arrow-right ms-2"></i>
			</a>
		</div>

	</div>
</section>
}
