<header class="container-fluid search-container stripe-header">
    <div class="row align-items-stretch">

      <div class="col-lg-1 d-none d-lg-flex stripe-column">
        <span class="stripe-text">REAL ESTATE</span>
      </div>

      <div class="col-lg-11 col-12">
        <div class="row py-4 align-items-center">

          <div class="col-lg-5 col-12 ">
            <div class="agent-block">
              <h2 class="agent-title info">
                {{ siteConfig?.firstName }} {{ siteConfig?.lastName }}
              </h2>
              <p class="agent-subtitle mb-1">
                {{ siteConfig?.designation }}
              </p>

              <a class="editorial-cta d-none d-lg-block" href="/contact">
                Book a Showing →
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-12 ">
            <div class="contact-block">
              <a
                class="contact-row pop"
                [href]="'tel:' + siteConfig?.websiteSettings?.contactInfo?.phone | phone">
                <i class="fa-solid fa-phone info"></i>
                <span>{{ siteConfig?.websiteSettings?.contactInfo?.phone | phone }}</span>
              </a>

              <a
                class="contact-row pop"
                [href]="'mailto:' + siteConfig?.websiteSettings?.contactInfo?.email">
                <i class="fa-solid fa-envelope info"></i>
                <span>{{ siteConfig?.websiteSettings?.contactInfo?.email }}</span>
              </a>

            </div>
          </div>

          <div class="col-lg-3 col-12 d-flex justify-content-lg-end justify-content-start">
            @if (siteConfig) {
              <a [routerLink]="['home']" class="brokerage-block">
                <img
                  [src]="siteConfig.websiteSettings.brokerageImage ? localImageUrl + siteConfig.websiteSettings.brokerageImage : '/images/Nologo.png'"
                  height="80px"
                  alt="Brokerage Logo" />
              </a>
            }
          </div>

        </div>
      </div>

    </div>
</header>

<app-menu />
