<div class="container-fluid p-0">
    <div class="position-relative">
      <img class="banner w-100" src="/images/banner3.png" alt="Banner Image">
      <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="text-white fw-bold baner-text">Buyer</h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
        <div class="col">
            <div class="mt-3">
                <h4 class=" mb-1">What Do You Want?</h4>
                <p class=" ">Begin by listing your needs: </p>
                <ul class="">
                    <li> Living requirements (i.e. how many bedrooms)</li>
                    <li>Family size </li>
                    <li> What you’re bringing with you from your old house</li>
                    <li>How close to schools, shopping and other services </li>
                    <li>The size of down payment you can afford and </li>
                    <li> Price range</li>
                </ul>
                <p>t’s important to be realistic when you’re thinking about a down payment and setting a price range. You don’t want to be saddled with something you can’t afford. At this stage, it’s a good idea to talk things over with real estate sales professional.</p>
                <h4>What’s Out There?</h4>
                <p>The marketplace offers both resale homes and new homes. However, since this document deals with resale homes, we will concentrate on them. (If you’re interested in a new home, talk with your salesperson.)
                    Resale homes are more likely to be in established neighborhoods, close to amenities and have mature trees and gardens.
                    Remember, however, a resale home has been lived in. It has been exposed to the elements for a number of years. The house may have experienced some degree of shrinkage and settling.
                    
                    Quick Service with the MLS® System
                    Most boards have their MLS® systems on computer. By sitting down at a keyboard, the REALTOR can key in your needs, choice of neighborhoods and price range and immediately come up with a list of suitable properties. Some computer systems are more extensive than others. Some even show a photograph of the house, complete with interior views. Also common are MLS® catalogues, which provide additional information about each property, along with its photograph. Both computer systems and catalogues are updated regularly.
                    As we said earlier, you can also view MLS® listing advertisements via the national Internet website, mls.ca (You can reach it at aboutmls.html). It features area maps, color photographs of available properties and has e-mail links to the listing REALTORS, along with their profiles.
                    
                    Touring a House
                    When you visit a house, consider these points:
                    What type of wiring does the house have? Does the electrical panel use fuses or circuit breakers?
                    What type of heating system does it use?
                    What about the roof and foundations?
                    What about the plumbing?
                    What about power outlets? Different appliances and power tools use different types.
                    There are other things to look at, as well. If you don’t have time or don’t feel comfortable doing it, home inspection services are available for a reasonable fee.
                    
                    Making an Offer
                    In the offer, you are:
                    saying how much you’re willing to pay;
                    suggesting a closing date;
                    proposing a set of conditions; and,
                    stating when the offer expires.
                    At this time you’ll present a deposit, along with your offer. An appropriate deposit will show your good faith to the seller. The seller’s agent is bound by law to bring all offers to the seller’s attention.
                    After your offer is accepted and all the conditions are met, the offer becomes binding on both sides. If you walk away from the deal at that point, you may lose your deposit. You may also be sued for damages. Therefore, make sure you understand and agree with all of the terms of the offer before signing.
                    
                    Conditions
                    Most offers carry some kind of conditions, which have to be met before the sale is complete. Some common types of conditions are:
                    You getting a suitable mortgage (include the amount, interest rates and any other figures you feel important)
                    You selling your current home (the seller may continue to look for a buyer, but will give you the right of first refusal)
                    The seller providing a current survey, or a "real property report," showing the location of the house on the property owned by the seller and that there are no encroachments
                    The seller having title to the property (your lawyer will check this out when he or she conducts a title search to see if there are any liens on the property, easements, rights of way or height restrictions)
                    If there is a septic system, the seller should have a health inspection certificate, stating the system meets local standards
                    If you still have any doubts about the home’s safety and construction, you may wish to make the purchase conditional on an inspection by a qualified engineer
                    Any inclusions (we’ve talked about this earlier -- basically, what stays and what goes)
                    The seller may counter your offer, by changing the conditions, price or both. Look at the counter offer in terms of what you’re looking for in a new home: how does it fit in? And you can, of course, always counter the counter offer.
                    
                    The Mortgage
                    A quick way to see how much you can afford is to use the gross debt-service formula (GDS). Here, the Principal, Interest and Taxes (PIT) on your mortgage loan should not exceed 30 per cent of your gross income. Increasingly, financial institutions will factor energy costs into the PIT formula, moving the rule of thumb GDS from 30 to 32 per cent.
                    You can work it out in reverse: multiply the monthly payment on principal, interest and taxes (include any condominium maintenance fees) by 40. So if your monthly payment for these items is $1,000, you’ll need a gross annual income of at least $40,000. Discuss your mortgage limit and different types of mortgages with your salesperson before you begin seriously looking for a new home.
                    There are several different types of mortgages:
                    
                    Pre-approved Mortgages:
                    Pre-approval means that you as a buyer, have qualified in advance for a mortgage of X dollars, contingent upon the lender approving the property. Many financial institutions offer pre-approved mortgages, with your interest rate guaranteed not to rise for a certain period.
                    
                    Conventional Mortgages:
                    Most banks and trust companies offer standard loans using the property as security and require you to make a monthly blended payment including principal and interest. Conventional mortgages require at least 20 per cent of the purchase price as a down payment.
                    
                    High-ratio Mortgages:
                    If your down payment is less than 20 per cent, you may still qualify for a mortgage, but you will need mortgage insurance. Canada Mortgage and Housing Corporation (CMHC), a federal crown corporation, and GE Capital Mortgage Insurance Company, a private company, provide insurance for high-ratio mortgages.
                    
                    Vendor Take-Back Mortgages:
                    The seller underwrites part of the purchase, as a loan to be repaid by the buyer. These are often used as second mortgages, to bridge any gaps or to make the property more attractive to the buyer. In some provinces, the seller may also transfer the mortgage to the buyer.
                    
                    Open and Closed Mortgages:
                    Open mortgages allow you to make extra payments on the principal, reducing your borrowing costs. Because of this flexibility, interest rates for open mortgages are a little higher. Closed mortgages have no flexibility; you must wait until the term is up to pay your mortgage. However, interest rates for these mortgages are generally lower. In the middle, are the partially open mortgages that have some of the characteristics of both open and closed mortgages?
                    Just as there is a range of mortgage types, there is also a range of repayment schedules. As well as the traditional monthly payment plan, there are now semi monthly, biweekly and even weekly payment schedules. Accelerated repayment options speed up the process even more, paying down the mortgage faster and spending less on interest charges. You may also opt for a shorter amortization period, or mortgage "life". It raises your monthly payments in the short-term, but saves you in the long-term, on the interest you pay.
                    </p>
            </div>
        </div>
    </div>
</div>