.blurred-backdrop {
	filter: blur(4px);
}

.image-container {
	position: relative;

}

.property-img {
    height: 200px;          
    width: 100%;            
    object-fit: cover;   
}

.address-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.property-wrapper {
	position: relative;
}

.vip-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	color: white;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
}

.vip-overlay .badge {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#text{
	span,p{
		font-size: 12px !important;
	}
}

.border-light-subtle{
    border-color: #e9ecef8a !important;
}