<div class="text-decoration-none py-3">
	<div class="card h-100 property-card border border-light-subtle" >
		<div class="image-container">
			@if(property && property.Media && property.Media.length>0){
			<p-galleria [numVisible]="1"
						[circular]="true"
						[showIndicators]="false"
						[showItemNavigators]="true"
						 
						[showThumbnails]="false"
						[containerStyle]="{ 'max-width': '640px' }"
						 
						[value]="property.Media.slice(0,3)">

				<ng-template let-media
							 #item>
					<img [src]="imageUrl + media.Media_url"
						 alt="No property image to display"
						 onerror="this.src = '/images/commercial_no_Image.jpg'" />
				</ng-template>
			</p-galleria>
			} @else {
			<img src="/images/commercial_no_Image.jpg"
				 class="card-img-top"
				 alt="No property image to display" />
			}
		</div>
		<div class="card-body pt-1" (click)="onPropertyClick(property)"
			>
			<div class="d-flex justify-content-between align-items-center">
				<p class="mb-1 fs-4 fw-semibold">{{property.ListPrice | currency: 'USD' : '$': '1.0-0'}}
					<span>{{property.ListPriceUnit}}</span>
				</p>
				<span class="fw-semibold">{{property.PropertySubType}}</span>
			</div>
			<span class="badge text_bg rounded-pill">{{property.TransactionType}}</span>
			<span class="text_bg2 text-white"
				  [ngClass]="{ 'location': property.IsFeatureListing }"
				  style="width: 25px;"></span>
			<p class="card-text  mb-1 d-flex py-1"><i class="fa-solid fa-location-dot info mt-1 me-1"></i> {{property.UnparsedAddress}}</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center">
					<div class="me-3"
						 *ngIf="property.BedroomsTotal && property.BedroomsTotal > 0">
						<p class="card-text "><span class="info fw-semibold">Bed ·</span> {{property.BedroomsTotal}}</p>
					</div>
					@if(property.BathroomsTotalInteger && property.BathroomsTotalInteger > 0){
					<div class="me-3">
						<p class="card-text ">
							<span class="info fw-semibold">Bath ·</span> {{property.BathroomsTotalInteger}}
						</p>
					</div>
					}
					@if (property.BuildingAreaTotal && property.BuildingAreaTotal > 0) {
					<div>
						<p class="card-text "><span class="info fw-semibold">Area ·</span> {{property.BuildingAreaTotal}} {{property.BuildingAreaUnits}}</p>
					</div>
					}
				</div>

				<p class="info  pt-2 mb-0 fw-semibold">MLS® {{property.ListingKey}}</p>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<p class="info pt-2 mb-0 fw-semibold">{{property.ListOfficeName}}</p>
				<small class="text-muted">{{property.ModificationTimestamp | timeAgo}}</small>
			</div>
		</div>
	</div>
</div>