<div class="">
    <div class="row justify-content-center w-100">
        <div class="col-lg-5 col-12 bg-white p-4 rounded shadow">
            <form [formGroup]="customerForm" name="brokerageForm" *ngIf="customerForm">
            <h4 class="mb-3">Sign Up</h4>
            <div class="row mt-3">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Brokerage Type</mat-label>
                  <mat-select required name="brokerageType" formControlName="brokerageType" >
                    <mat-option *ngFor="let brokerageType of brokerageTypes" [value]="brokerageType.BrokerageTypeId">{{brokerageType.Name}}</mat-option >
                  </mat-select>
                  <!-- <mat-select required formControlName="brokerageTypeId" name="brokerageTypeId">
                    @for (brokerageType of brokerageTypes; track brokerageType) {
                      <mat-option selected="brokerageType.IsDefault" [value]="brokerageType.BrokerageTypeId">{{brokerageType.Name}}</mat-option>
                    }
                  </mat-select> -->
                  <mat-error>Borkerage type is required</mat-error>
              </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Business Name</mat-label>
                  <input formControlName="businessName" class="form-control" required matInput placeholder="Business Name" />
                  <mat-error>Business name is required</mat-error>
              </mat-form-field>
              </div>  
          </div>
            <div class="row mt-3">
                <div class="col">
                  <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" required matInput placeholder="First Name" />
                    <mat-error>First name is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" required matInput placeholder="Last Name" />
                    <mat-error>Last name is required</mat-error>
                  </mat-form-field>
                </div>  
            </div>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="emailAddress" required email matInput placeholder="Ex. pat@example.com" />
                 @if (customerForm.hasError('email', 'emailAddress') && !customerForm.hasError('required', 'emailAddress')) {
                  <mat-error>Please enter a valid email address</mat-error>
                 }
                @if (customerForm.hasError('required', 'emailAddress')) {
                  <mat-error>Email is required</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="fill">                
                <mat-label>Phone Number</mat-label>
                <input type="text" formControlName="phoneNumber" required matInput placeholder="Phone Number" />                
                @if (customerForm.hasError('required', 'phoneNumber')) {
                  <mat-error>Phone number is required</mat-error>
                }
              </mat-form-field> 
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input type="text" formControlName="address" matInput placeholder="Address" />
              </mat-form-field>   
              <mat-form-field appearance="fill">                
                <mat-label>Password</mat-label>
                <input type="text" formControlName="password" required matInput placeholder="Password" />                
                @if (customerForm.hasError('required', 'password')) {
                  <mat-error>Password is required</mat-error>
                }
              </mat-form-field> 
              <mat-form-field appearance="fill">                
                <mat-label>Confirm Password</mat-label>
                <input type="text" formControlName="confirmPassword" required matInput placeholder="Confirm Password" />                
                @if (customerForm.hasError('required', 'confirmPassword')) {
                  <mat-error>Confirm password is required</mat-error>
                }
              </mat-form-field>         
              <div class="upload-container p-3">
                    <img id="profileimagePreview" alt="No Image" class="upload-preview" [src]="profileImageSource">
                    <div class="upload-info">
                        <label class="form-label fw-semibold">Upload profile image</label>
                        <p class="text-muted small">Images</p>
                        <input type="file" (change)="onFileChange($event)" class="form-control upload-btn" id="profileImageUpload" accept="image/*">
                    </div>
                </div>
                <div id="ProfileCropContainer" class="mt-3">
                    <div class="row" style="margin-top: 15px;">
                        <div class="text-center col-md-8">
                            <!-- <ngx-smart-cropper
                            [imageType]="'webp'"
                            [cropX]="50"
                            [cropY]="50"
                            [cropWidth]="150"
                            [cropHeight]="150"
                            [theme]="'mixed'"
                            [imageSource]="profileImageSource"
                            (imageCroppedEvent)="profileImageCropped($event)"></ngx-smart-cropper> -->
                        </div>
                        <img [src]="profileCroppedImage"/>
                </div>
              </div>
              <div class="upload-container p-3">
                <img id="logoImagePreview" alt="No Image" class="upload-preview" [src]="logoImageSource">
                <div class="upload-info">
                    <label class="form-label fw-semibold">Upload Logo</label>
                    <p class="text-muted small">Images</p>
                    <input type="file" (change)="onFileChange($event)" class="form-control upload-btn" id="logoImageUpload" accept="image/*">
                </div>
            </div>
          
                <button (click)="save()" id="btnSaveCustomer" class="btn btn-success w-100 mt-3">Next</button>
            </form>
        </div>
    </div>
</div>




<!-- <div class="container-fluid vh-100 d-flex">
  <div class="row w-100">
      <div class="col-lg-7 d-none d-lg-block p-0">
          <img class="img-fluid vh-100 w-100" src="/images/login-img.jpg" alt="Login Image" style="object-fit: cover;">
      </div>

      <div class="col-lg-5 col-12 p-4 rounded d-flex flex-column justify-content-center align-items-center ">
        <form id="signupForm">
        <h4 class="mb-3">Sign Up</h4>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name">
            </div>
            <div class="row mb-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
              </div>
       
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Phone Number" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="password" aria-label="password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" required>
            </div>
            <div class="upload-container border w-100 p-3">
                <img id="logoPreview" class="upload-preview" src="" style="display: none;">
                <div class="upload-info">
                    <label class="form-label fw-semibold">Upload a category image</label>
                    <p class="text-muted small">SVG, PNG, JPG </p>
                    <input type="file" class="form-control upload-btn" id="logoUpload" accept="image/*">
                </div>
            </div>
            <div id="cropContainer" class="mt-3 w-100">
                <img id="cropImage">
                <div class="crop-actions">
                    <button type="button" class="btn btn-secondary btn-sm" id="cancelCrop">Cancel</button>
                    <button type="button" class="btn btn-success btn-sm" id="cropButton">Crop Image</button>
                </div>
            </div>
            <button type="submit" id="submitBtn" class="btn btn-success w-100 mt-3">Next</button>
        </form>
        <div class="text-center mt-3">
          <span>Already have an account? </span><a href="/login" class="text-decoration-none text-success fw-bold">Login</a>
      </div>
    </div>
  </div>
</div> -->