 <div class="container-fluid vh-100 d-flex align-items-center justify-content-center p-0">
  <div class="row w-100 h-100 justify-content-between">
      <div class="col-lg-6 d-none d-lg-block p-0">
          <img class="img-fluid vh-100 w-100" src="/images/login-img.jpg" alt="Login Image" style="object-fit: cover;">
      </div>
      <div class="col-lg-6 col-12 p-4 pb-0 rounded d-flex flex-column justify-content-center align-items-center ">
        <form [formGroup]="customerForm" name="brokerageForm" *ngIf="customerForm" class="w-100">
          <h4 class="mb-3">Sign Up</h4>
          <div class="row mt-3">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Brokerage Type</mat-label>
                <mat-select required name="brokerageType" formControlName="brokerageType" >
                  <mat-option *ngFor="let brokerageType of brokerageTypes" [value]="brokerageType.BrokerageTypeId">{{brokerageType.Name}}</mat-option >
                </mat-select>
                <mat-error>Borkerage type is required</mat-error>
            </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Business Name</mat-label>
                <input formControlName="businessName" class="form-control" required matInput placeholder="Business Name" />
                <mat-error>Business name is required</mat-error>
            </mat-form-field>
            </div>  
        </div>
          <div class="row ">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input formControlName="firstName" required matInput placeholder="First Name" />
                  <mat-error>First name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input formControlName="lastName" required matInput placeholder="Last Name" />
                  <mat-error>Last name is required</mat-error>
                </mat-form-field>
              </div>  
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input class="w-100" type="email" formControlName="emailAddress" required email matInput placeholder="Ex. pat@example.com" />
                 @if (customerForm.hasError('email', 'emailAddress') && !customerForm.hasError('required', 'emailAddress')) {
                  <mat-error>Please enter a valid email address</mat-error>
                 }
                @if (customerForm.hasError('required', 'emailAddress')) {
                  <mat-error>Email is required</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">                
                <mat-label>Phone Number</mat-label>
                <input type="text" formControlName="phoneNumber" required matInput placeholder="Phone Number" />                
                @if (customerForm.hasError('required', 'phoneNumber')) {
                  <mat-error>Phone number is required</mat-error>
                }
              </mat-form-field>
            </div>
          </div>
   
           
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input type="text" formControlName="address" matInput placeholder="Address" />
            </mat-form-field>   
            <mat-form-field appearance="fill">                
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" required matInput placeholder="Password" 
              pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$"/>                
              @if (customerForm.hasError('required', 'password')) {
                <mat-error>Password is required</mat-error>
              }
              <mat-error *ngIf="customerForm.value.password">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
            </mat-form-field> 
            <mat-form-field appearance="fill">                
              <mat-label>Confirm Password</mat-label>
              <input type="password" formControlName="confirmPassword" required matInput 
              placeholder="Confirm Password" pattern="{{customerForm.value.password}}" />                
              @if (customerForm.hasError('required', 'confirmPassword')) {
                <mat-error>Confirm password is required</mat-error>
              }
              <mat-error *ngIf="customerForm.value.confirmPassword">Passwords do not match.</mat-error>
            </mat-form-field>    
            
            <div class="upload-container p-3">
              <div class="upload-info">
                <label class="form-label fw-semibold">Upload logo</label>
                <input type="file" (change)="onFileChange($event)" data-cropper="#logoImageCropper"  class="form-control upload-btn w-100" id="logoImageUpload" accept="image/*">
              </div>
        </div>
        <div id="LogoCropContainer" class="mt-3">
            <div class="row" style="margin-top: 15px;">
              <div class="text-center col-md-8">
                <ngx-smart-cropper id="logoImageCropper"
                      [imageType]="'png'"
                      [cropX]="0"
                      [cropY]="0"
                      [cropWidth]="220"
                      [cropHeight]="167"
                      [theme]="'dark'"
                      [imageSource]="logoImageSource"
                      (onTouchResizeStart)="logoImageCropped($event, this)">
                </ngx-smart-cropper>
              </div>
            </div>
        </div>
            
            <div class="upload-container p-3">
                  <div class="upload-info">
                    <label class="form-label fw-semibold">Upload profile image</label>
                    <input type="file" (change)="onFileChange($event)" data-cropper="#profileImageCropper" class="form-control upload-btn w-100" id="profileImageUpload" accept="image/*">
                  </div>
            </div>
            <div id="ProfileCropContainer" class="mt-3">
                <div class="row" style="margin-top: 15px;">
                  <div class="text-center col-md-8">
                    <ngx-smart-cropper id="profileImageCropper"
                          [imageType]="'webp'"
                          [cropX]="0"
                          [cropY]="0"
                          [cropWidth]="435"
                          [cropHeight]="170"
                          [theme]="'mixed'"
                          [imageSource]="profileImageSource"
                          (ngOnChanges)="profileImageCropped($event)">
                    </ngx-smart-cropper>
                  </div>
                </div>
            </div>
        
              <button (click)="save()" id="btnSaveCustomer" class="btn btn-success w-100 mt-3">Next</button>
          </form>
        <div class="text-center ">
          <span>Already have an account? </span><a href="/login" class="text-decoration-none text-success fw-bold">Login</a>
      </div>
    </div>
  </div>
</div>