$info: #ffffff;
.nav_bg {
    background-color: $info;
}

.logo{
    width: 17px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* optional: remove any jump */
}
.dropdown-menu {
    margin-top: 0;
    display: none;
    margin-left: 65px;
}
a{
    font-size:14px;
}

.nav_content{
    color: black !important;
}