<div class="container-fluid p-0">
	<div class="position-relative">
		<img class="banner w-100"
			 src="/images/banner3.png"
			 alt="Banner Image">
		<div class="position-absolute top-50 start-50 translate-middle text-center">
			<h1 class="text-white fw-bold baner-text">Contact Us</h1>
		</div>
	</div>
</div>

<section class="container-fluid py-5 bg-light search-container">
	<div class="container">
		<div class="row py-5 justify-content-around align-items-center">
			<div class="col-lg-5 col-12 mb-4 mb-lg-0">
				<div class="card p-3 shadow-sm border-0 rounded">
					    <img class="w-25"
          [src]="siteConfig.websiteSettings.brokerageImage ? siteConfig.websiteSettings.brokerageImage : '/images/Nologo.png'"
          alt="No brokerage logo"/>

	<h6 class="card-head ">{{ siteConfig.brokerage.name }}</h6>
					
					<h4 class="card-head ">
						
						{{ siteConfig.firstName }} {{ siteConfig.lastName }}
					</h4>
						<p class="fw-semibold fs-6">{{ siteConfig.designation}}</p>
	
					<p class="mb-2">
						<i class="bi bi-geo-alt-fill info me-2"></i>
						{{ siteConfig.websiteSettings.contactInfo.address}}
					</p>
					<p class="mb-2">
						<i class="bi bi-telephone-fill info me-2"></i>
						<a class="text-dark fw-semibold text-decoration-none"
						   [href]="'tel:' + siteConfig.websiteSettings.contactInfo.phone">
							{{ siteConfig.websiteSettings.contactInfo.phone | phone }}
						</a>
					</p>
					<p class="mb-3">
						<i class="bi bi-envelope-fill info me-2"></i>
						<a class="text-dark fw-semibold text-decoration-none"
						   [href]="'mailto:' + siteConfig.websiteSettings.contactInfo.email">
							{{ siteConfig.websiteSettings.contactInfo.email }}
						</a>
					</p>
	
					@if(siteConfig.secondaryAgent && siteConfig.secondaryAgent.enableSecondaryAgent){
					<div class="mt-3">
	
						<h5 class="card-head">
							{{ siteConfig.secondaryAgent.firstName }} {{ siteConfig.secondaryAgent.lastName }}
						</h5>
								<p class="fw-semibold fs-6">{{ siteConfig.secondaryAgent.designation }}</p>
	
						<p class="mb-2">
						<i class="bi bi-geo-alt-fill info me-2"></i>
						{{ siteConfig.websiteSettings.contactInfo.address}}
					</p>
						<p class="mb-2">
							<i class="bi bi-telephone-fill info me-2"></i>
							<a class="text-dark fw-semibold text-decoration-none"
							   [href]="'tel:' + siteConfig.secondaryAgent.websitePhone">
								{{ siteConfig.secondaryAgent.websitePhone | phone }}
							</a>
						</p>
						<p class="mb-3">
							<i class="bi bi-envelope-fill info me-2"></i>
							<a class="text-dark fw-semibold text-decoration-none"
							   [href]="'mailto:' + siteConfig.secondaryAgent.websiteEmail">
								{{ siteConfig.secondaryAgent.websiteEmail }}
							</a>
						</p>
					</div>
					}
				</div>
	
				<div class="mt-3">
					<h6 class="fw-bold info">Follow Us</h6>
							<div class="d-flex gap-2">
							
						@if (siteConfig.websiteSettings.socialLinks.facebook) {
  <a [href]="siteConfig.websiteSettings.socialLinks.facebook"
     target="_blank" rel="noopener noreferrer"
     class="btn btn-light border">
    <i class="bi bi-facebook info"></i>
  </a>
}

@if (siteConfig.websiteSettings.socialLinks.twitter) {
  <a [href]="siteConfig.websiteSettings.socialLinks.twitter"
     target="_blank" rel="noopener noreferrer"
     class="btn btn-light border">
    <i class="bi bi-twitter info"></i>
  </a>
}

@if (siteConfig.websiteSettings.socialLinks.instagram) {
  <a [href]="siteConfig.websiteSettings.socialLinks.instagram"
     target="_blank" rel="noopener noreferrer"
     class="btn btn-light border">
    <i class="bi bi-instagram info"></i>
  </a>
}

@if (siteConfig.websiteSettings.socialLinks.linkedin) {
  <a [href]="siteConfig.websiteSettings.socialLinks.linkedin"
     target="_blank" rel="noopener noreferrer"
     class="btn btn-light border">
    <i class="bi bi-linkedin info"></i>
  </a>
}

							</div>
				</div>
				<div>
					<p class="text-muted mt-3"
					   [innerHTML]="siteConfig.websiteSettings.contactText ? siteConfig.websiteSettings.contactText : contactText">
					</p>
				</div>
				
			</div>
	
			<div class="col-lg-4 col-12 mt-4 mt-lg-0">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title info">Ask About Property</h5>
						<form class="form-card bg-white"
							  [formGroup]="contactForm"
							  (ngSubmit)="submitContactForm()">
							<p>
								Interested in viewing a property? Need more information? Fill out the form below and you will be contacted shortly. Thank you for
								your interest. Your business is appreciated!
							</p>
							<div class="mb-3">
								<p-iftalabel>
									<input type="text"
										   pInputText
										   formControlName="name"
										   class="form-control"
										   id="name"
										   required />
									<label for="name">Name</label>
									<span class="error"
										  *ngIf="name?.invalid && (name?.dirty || name?.touched)">
										<span *ngIf="name?.errors?.['required']">Name is required</span>
									</span>
								</p-iftalabel>
							</div>
							<div class="mb-3">
								<p-iftalabel>
									<input type="email"
										   pInputText
										   formControlName="email"
										   class="form-control w-100"
										   id="email"
										   required />
									<label for="email">Email</label>
									<span class="error"
										  *ngIf="email?.invalid && (email?.dirty || email?.touched)">
										<span *ngIf="email?.errors?.['required']">Email is required</span>
										<span *ngIf="email?.errors?.['email']">Please enter a valid email address</span>
									</span>
								</p-iftalabel>
							</div>
							<div class="mb-3">
								<p-iftalabel>
									<p-inputmask mask="(999) 999-9999"
												 formControlName="phone"
												 placeholder="Ex. 123-456-1234"
												 class="w-100"
												 id="phone"></p-inputmask>
									<label for="phone">Phone Number</label>
									<span class="error"
										  *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
										<span *ngIf="phone?.errors?.['required']">Phone number is required</span>
										<span *ngIf="phone?.errors?.['pattern']">Please enter a valid phone number</span>
									</span>
								</p-iftalabel>
							</div>
							<div class="mb-3">
								<p-iftalabel>
									<textarea pTextarea
											  formControlName="message"
											  class="form-control p-inputtext"
											  rows="4"
											  id="message"></textarea>
									<label for="message">Leave a comment</label>
									<span class="error"
										  *ngIf="message?.invalid && (message?.dirty || message?.touched)">
										<span *ngIf="message?.errors?.['required']">Comment is required</span>
									</span>
								</p-iftalabel>
							</div>
							<p class="mb-0 fw-semibold">I am</p>
							<div class="d-flex flex-wrap gap-2 py-3">
								@for(type of userTypes; track $index){
								<input type="radio"
									   class="btn-check radio_btn"
									   formControlName="userType"
									   [id]="'userType'+type.value"
									   [value]="type.value"
									   required>
								<label class="btn  rounded-pill"
									   [for]="'userType'+type.value">{{type.title}}</label>
								}
							</div>
							<button type="submit"
									class="btn search_btn w-100 fw-bold">Submit</button>
						</form>
					</div>
				</div>
	
			</div>
	
		</div>
	</div>
</section>