<div class="p-0 container-fluid ">
	<div class="position-relative">
		<img class="banner w-100"
			 src="/images/banner3.png"
			 alt="Banner Image">
		<div class="text-center position-absolute top-50 start-50 translate-middle">
			<h1 class="text-white fw-bold baner-text">Agent-list</h1>
		</div>
	</div>
</div>

<div class="container py-5">
  <div class="row g-4">

    <div class="col-6">
      <div class="glass-card d-flex flex-column flex-md-row">

        <div class="glass-img-wrapper">
          <img src="/t1/images/profile.png" class="glass-img" alt="Agent Photo">

          <div class="glass-social">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>

        <div class="p-4 flex-grow-1">
          <h3 class="glass-name">RAJ MAHAT</h3>
          <p class="glass-role">Broker Of Record</p>

          <p><strong>Email:</strong> rajmahat2@gmail.com</p>
          <p><strong>Mobile:</strong> 647-640-9124</p>

          <p class="mb-3">
            <strong>Visit My Site:</strong>
            <a href="#" class="ms-2 text-danger fs-5">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </p>

          <a href="#" class="glass-btn">View Details</a>
        </div>

      </div>
    </div>

      <div class="col-6">
      <div class="glass-card d-flex flex-column flex-md-row">

        <div class="glass-img-wrapper">
          <img src="/t1/images/profile.png" class="glass-img" alt="Agent Photo">

          <div class="glass-social">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>

        <div class="p-4 flex-grow-1">
          <h3 class="glass-name">RAJ MAHAT</h3>
          <p class="glass-role">Broker Of Record</p>

          <p><strong>Email:</strong> rajmahat2@gmail.com</p>
          <p><strong>Mobile:</strong> 647-640-9124</p>

          <p class="mb-3">
            <strong>Visit My Site:</strong>
            <a href="#" class="ms-2 text-danger fs-5">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </p>

          <a href="#" class="glass-btn">View Details</a>
        </div>

      </div>
    </div>
  </div>
</div>
