<div class="background-container">
	<div class="container pt-2 search-container">
	<div class="top-padding">
		<div class="row justify-content-center">
			<p class="text fw-semibold pt-3">Search Your Dream Home</p>
			<p class="text-white text-center">We are recognized for exceeding client expectations and delivering great results through dedication,<br> ease of process, and extraordinary services to our worldwide clients.</p>
			<div class="col-12 bg-white p-4 mb-5">
				<app-search [onSearch]="searchProperties" />
			</div>
		</div>
	</div>
</div>
  </div>

  <div class="container-fluid sec-3 p-5 search-container">

	<div class="container">
	  <div class="row justify-content-center align-items-center">
		<div class="col-lg-6 col-12 py-lg-0 py-3  d-flex justify-content-lg-start justify-content-center">
		  <div class="">

	<div class="position-relative d-inline-block">
		<img class="img-fluid" src="./t9/images/profile-bg.png" alt="profile-bg">
	  
		<img [src]="customer?.profileImage" alt="No profile image"
			 class="position-absolute top-50 start-50 translate-middle mob_pic" 
			 style="width: 260px; height: 367px;">
	  </div>
		  </div>
		</div>
		<div class="col-lg-6 col-12">
		  <p class="fs-2 mb-0 fw-semibold ">
			Hi, I’m Person Name
		  </p>
		  <p class="fs-4 info">Sales Representative</p>
		  <p class="fw-semibold mb-0">I believe every client has the right to be treated fairly, honestly and with integrity. My aim is to educate and prepare my clients to insure that they are always in a position to make informed decisions.</p>
		  <p class="fw-semibold">
			Every engagement is an opportunity to create a lasting impression and a forever client. Acharya is a well serving in real estate with the reputation of providing quality services and keeping excellent relations with the clients. </p>
			
				<!-- Button trigger modal -->
<button type="button" class="btn search_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Get in Touch
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title info fs-5" id="exampleModalLabel">Get in Touch</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="">
				<div class="card-body">
				  <form [formGroup]="userForm" name="userForm" >
					<mat-form-field appearance="fill">
					  <mat-label class="info">First Name</mat-label>
					  <input formControlName="firstName" required matInput placeholder="First Name" />
					  <mat-error>First name is required</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
					  <mat-label class="info">Email</mat-label>
					  <input class="w-100" type="email" formControlName="emailAddress" required email matInput placeholder="Ex. pat@example.com" />
					  @if (userForm.hasError('email', 'emailAddress') && !userForm.hasError('required', 'emailAddress')) {
					   <mat-error>Please enter a valid email address</mat-error>
					  }
					 @if (userForm.hasError('required', 'emailAddress')) {
					   <mat-error>Email is required</mat-error>
					  }
					</mat-form-field>
					<mat-form-field appearance="fill">                
					  <mat-label class="info">Phone Number</mat-label>
					  <input type="tel" formControlName="phoneNumber" matInput  placeholder="Ex. 123-456-1234" />
					  @if (userForm.hasError('pattern', 'phoneNumber')) {
						<mat-error>Please enter a valid phone number</mat-error>
					   }
					   @if (userForm.hasError('required', 'phoneNumber')) {
						<mat-error>Phone number is required</mat-error>
					  }
					</mat-form-field>
				  </form>
				</div>
			  </div> 
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn search_btn">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
				<!-- <a class="btn btn_outline ms-4  text-decoration-none pop" [href]="'tel:{{customer?.phoneNumber | phone}}'">{{customer?.phoneNumber | phone}}</a> -->
		
		</div>
	  </div>
	</div>
  </div>

	
<div class="container  p-lg-0 p-4">
		<p class="text text-center py-3 fw-semibold">Find Properties in These Cities</p>
		<p class="text-center fw-normal"></p>
		<div class="row py-lg-5 p-4 p-lg-0 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
			<div class="col">
			  <div class="pro_card" (click)="searchProperties({address:'Toronto'})">
				<div class="content text-center">
				  <img class="img-fluid rounded mb-2" src="/t2/images/Group 2.png" alt="">
				  <p class="pro-card-text">Toronto</p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="pro_card" (click)="searchProperties({address:'Milton'})">
				<div class="content text-center">
				  <img class="img-fluid rounded mb-2" src="/t2/images/Group 3.png" alt="">
				  <p class="pro-card-text">Milton</p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="pro_card" (click)="searchProperties({address:'Brampton'})">
				<div class="content text-center">
				  <img class="img-fluid rounded mb-2" src="/t2/images/Group 4.png" alt="">
				  <p class="pro-card-text">Brampton</p>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="pro_card" (click)="searchProperties({address:'Mississauga'})">
				<div class="content text-center">
				  <img class="img-fluid rounded mb-2" src="/t2/images/Group 5.png" alt="">
				  <p class="pro-card-text">Mississauga</p>
				</div>
			  </div>
			</div>
		  </div>
		  
	</div>

<div class="container-fluid sec-3 py-5">
	<div class="container bg-white">
		<div class="row p-lg-4 p-3 ">
			<p class="text mb-0 fw-semibold">
				"Enjoy a clear and simple home-buying experience"
			</p>
			<div class="col">
				<p class="estate text-center">Real Estate Specialist Name</p>
				<p class="text-center fw-semibold">
					I believe every client has the right to be treated fairly,
					honestly and with integrity. My aim is to educate and prepare my
					clients to insure that they are always in a position to make
					informed decisions.Every engagement is an opportunity to create a
					lasting impression and a forever client. Acharya is a well serving
					in real estate with the reputation of providing quality services
					and keeping excellent relations with the clients. My intend to
					provide our clients with the best personalized real estate
					experience from beginning to end. I enjoy sharing my expertise by
					giving you the scoop on the local real estate market. My aim is to
					guide & prepare our clients to ensure that they are always in a
					position to make informed decision. I put our client’s interest
					above everything. I am professionally trained and licensed
					realtors who work for seeking to experience satisfaction and feel
					good emotionss.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid sec-3">
	<div class="container pb-5">
		<p class="text text-center mb-0 fw-semibold">Featured Properties</p>

		<app-featured-properties />
	</div>
</div>



<div class="container-fluid sec-4 search-container" >
	<div class="container">
		<div class="row p-lg-0 p-4 align-items-center justify-content-around mx-0">
		 <div class="col-lg-7 col-12">
            <div class="">
                <h1 class="fw-semibold text-white">Get In Touch </h1>
                <p class="fw-semibold text-white">
                    Your way to better real estate software starts here. For 35 years, we’ve proudly delivered the gold standard in real estate software to businesses of all shapes, sizes, and structures, and we’d be honored to partner with your organization today.
                </p>
                <div class="pt-3">
                    <button type="button" class="btn search_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Get in Touch
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title info fs-5" id="exampleModalLabel">Get in Touch</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="">
				<!-- <div class="card-body">
				  <form [formGroup]="userForm" name="userForm" >
					<mat-form-field appearance="fill">
					  <mat-label class="info">First Name</mat-label>
					  <input formControlName="firstName" required matInput placeholder="First Name" />
					  <mat-error>First name is required</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
					  <mat-label class="info">Email</mat-label>
					  <input class="w-100" type="email" formControlName="emailAddress" required email matInput placeholder="Ex. pat@example.com" />
					  @if (userForm.hasError('email', 'emailAddress') && !userForm.hasError('required', 'emailAddress')) {
					   <mat-error>Please enter a valid email address</mat-error>
					  }
					 @if (userForm.hasError('required', 'emailAddress')) {
					   <mat-error>Email is required</mat-error>
					  }
					</mat-form-field>
					<mat-form-field appearance="fill">                
					  <mat-label class="info">Phone Number</mat-label>
					  <input type="tel" formControlName="phoneNumber" matInput  placeholder="Ex. 123-456-1234" />
					  @if (userForm.hasError('pattern', 'phoneNumber')) {
						<mat-error>Please enter a valid phone number</mat-error>
					   }
					   @if (userForm.hasError('required', 'phoneNumber')) {
						<mat-error>Phone number is required</mat-error>
					  }
					</mat-form-field>
				  </form>
				</div> -->
			  </div> 
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn search_btn">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
                </div>
            </div>
        </div>
			<div class="col-lg-5 col-12 mt-5 mt-lg-0 p-4">
				<div class="card shadow">
					<div class="card-body">
					  <h5 class="card-title info">Lets Get In Touch</h5>
					  <form [formGroup]="userForm" name="userForm" >
						<mat-form-field appearance="fill">
						  <mat-label class="info">First Name</mat-label>
						  <input formControlName="firstName" required matInput placeholder="First Name" />
						  <mat-error>First name is required</mat-error>
						</mat-form-field>
						<mat-form-field appearance="fill">
						  <mat-label class="info">Email</mat-label>
						  <input class="w-100" type="email" formControlName="emailAddress" required email matInput placeholder="Ex. pat@example.com" />
						  @if (userForm.hasError('email', 'emailAddress') && !userForm.hasError('required', 'emailAddress')) {
						   <mat-error>Please enter a valid email address</mat-error>
						  }
						 @if (userForm.hasError('required', 'emailAddress')) {
						   <mat-error>Email is required</mat-error>
						  }
						</mat-form-field>
						<mat-form-field appearance="fill">                
						  <mat-label class="info">Phone Number</mat-label>
						  <input type="tel" formControlName="phoneNumber" matInput  placeholder="Ex. 123-456-1234" />
						  @if (userForm.hasError('pattern', 'phoneNumber')) {
							<mat-error>Please enter a valid phone number</mat-error>
						   }
						   @if (userForm.hasError('required', 'phoneNumber')) {
							<mat-error>Phone number is required</mat-error>
						  }
						</mat-form-field>
						<mat-form-field appearance="fill">
						  <mat-label class="info">Leave a comment</mat-label>
						  <textarea formControlName="comment" class="form-control" rows="4" matInput placeholder="Ex. Enter comment about this property"></textarea>
						  <mat-error>Comment is required</mat-error>
						</mat-form-field>
						<button class="btn search_btn w-100 fw-bold">Save</button>
					  </form>
					</div>
				  </div>
			</div>
		</div>
	</div>
</div>