.banner{
     height: 50vh;
  }

  @media (max-width: 768px) {
.banner{
    height: 18vh;
}
}
  .col-md-8 {
  overflow-wrap: break-word;
  word-break: break-word;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  opacity: 0.8;
}

a {
	font-size: 14px;
}

  .test_img{
  width: 90px;
  }