.nav-tabs-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #212529;
  z-index: 1000;
  padding: 10px 0;
}
.login-container {
  background: linear-gradient(to bottom, #eaf4ff, #ffffff);
}


.nav-tabs .nav-link {
  color: #fff;
  transition: all 0.3s;
}
.nav-tabs .nav-link:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
}
.nav-tabs .nav-link.active {
  background-color: #858585;
  color: white;
}

.account-dropdown {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.top-padding {
  padding-top: 80px;
}

.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #858585;
}