.loading-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }
  
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #198754; /* Spinner color */
    border-radius: 50%;
    width: 100px; /* Spinner size */
    height: 100px; /* Spinner size */
    animation: spin 1s linear infinite; /* Spin animation */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .text{
    font-size: 35px;
    text-align: center;
}

.image-container {
  height: 194px; 
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro-text{
  font-size: 13px;
}
