.text{
    font-size: 35px;
    text-align: center;
}

  .card_hover:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .mat-mdc-select-panel{
    background-color: rgb(225, 225, 225) !important;
  }
