.sidebar {
  position: fixed;
  top: 56px; 
  left: 0;
  bottom: 0;
//   width: 16.6667%; 
//   background: #1f2327; 
//   border-right: 1px solid #333;
  overflow: hidden; 
}


.content {
  padding: 1rem;
}
