.green-snackbar {
    background: #002FD5 !important;
    color: white !important;
    font-weight: 300 !important;
  }
  .green-snackbar button {
    background-color: #002FD5 !important;
    color: white !important;
    border: none !important;
  }
  .mat-mdc-simple-snack-bar
  {
    background-color: #002FD5 !important;
    color: white !important;
  }
