<div class="col mt-3">
	<h2>Admin Dashboard</h2>
	<!-- Top Cards -->
	<div class="row g-3 mb-4">
		<div class="col-md-3 col-6">
			<div class="card  card1 h-100">
				<div class="card-body">
					<h5 class="text-white card-title">Registered Users</h5>
					<h3 class="text-white">0</h3>
				</div>
				<div class="card-footer  text-center">
					<a href="#"
					   class="text-white text-decoration-none">View Detail</a>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-6">
			<div class="card  card2 h-100">
				<div class="card-body">
					<h5 class="text-white card-title">Total Leads</h5>
					<h3 class="text-white">0</h3>
				</div>
				<div class="card-footer  text-center">
					<a href="#"
					   class="text-white text-decoration-none">View Detail</a>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-6">
			<div class="card  card3 h-100">
				<div class="card-body">
					<h5 class="text-white card-title">Total clients</h5>
					<h3 class="text-white">0</h3>
				</div>
				<div class="card-footer  text-center">
					<a href="#"
					   class="text-white text-decoration-none">View Detail</a>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-6">
			<div class="card  card4 h-100">
				<div class="card-body">
					<h5 class="text-white card-title">Users added in this month</h5>
					<h3 class="text-white">0</h3>
				</div>
				<div class="card-footer  text-center">
					<a href="#"
					   class="text-white text-decoration-none">View Detail</a>
				</div>
			</div>
		</div>
	</div>
	<p-table class="custom-table mt-5"
			 [value]="products"
			 [tableStyle]="{ 'min-width': '50rem' }">

		<ng-template pTemplate="header">
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>Category</th>
				<th>Quantity</th>
			</tr>
		</ng-template>

		<ng-template pTemplate="body"
					 let-product>
			<tr>
				<td>{{ product.code }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.category }}</td>
				<td>{{ product.quantity }}</td>
			</tr>
		</ng-template>
	</p-table>

</div>