<div class="loading-container flex-content-center" *ngIf="loading$ | async">
	<div class="spinner">
	</div>  
</div> 

<div class="container-fluid">
	<div class="container">
		<div class="row justify-content-center">
			<h2 class=" fw-semibold text-center mt-3">Search Your Dream Home</h2>
			<div class="col-12 bg-white py-4">
				<app-search [filters]="selectedFilters" [onSearch]="searchProperties" [showMapSearch]="false" class="search-container" />
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt-3">
  <div class="row vh-100">
    <div class="col-lg-6 col-12 overflow-auto px-4" style="height: 100vh; background: #f8f9fa;" *ngIf="propertiesList && propertiesList.length>0">
      <mat-paginator class="pb-3"
      [length]="propertiesList.length > 0 ? propertiesList[0].TotalRecords : 0"
      [pageIndex]="pageIndex-1"
      (page)="pageEvent = searchProperties(selectedFilters, $event)"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15, 20, 30, 40, 50, 80, 90, 100]"
      aria-label="Select page">
     </mat-paginator>
      <div class="row row-cols-1 row-cols-md-2 g-4" >
        <div class="col" *ngFor="let property of propertiesList">
          <div class="card h-100 border-0 shadow-lg rounded-3" style="overflow: hidden;">
            <div class="position-relative">
              <div class="image-container">
                <img [src]="property && property.Media && property.Media.length>0 ? property.Media[0].Media_url : '/images/commercial_no_Image.jpg'" class="card-img-top img-fluid" alt="No property image to display">
              </div>
              <div class="position-absolute bottom-0 start-0  text-white p-2 rounded-end">
                <span class="badge text-white" style="background-color: rgb(255 104 0);">{{property.TransactionType}}</span>
              </div>
              <div class="position-absolute bottom-0 end-0  text-white p-2 rounded-start">
                <span class="badge bg-dark">11 Km away</span>
              </div>
            </div>
            <div class="card-body p-2">
              <p class="mb-1 fs-4 fw-semibold">$ {{property.ListPrice}}<span *ngIf="property.ListPriceUnit"> {{property.ListPriceUnit}}</span></p>
              <div class="text-muted  mb-2">
                <span>{{property.BedroomsTotal}} bed · {{property.BathroomsTotalInteger}} bath</span>
                <p class="card-text"><span class="me-2 "><img class="area" alt=""></span>{{property.BuildingAreaTotal}} {{property.BuildingAreaUnits}}</p>
              </div>
              <p class=" text-muted ">{{property.UnparsedAddress}}</p>
              <hr>
              <p class=" text-muted  mb-0">
                <i class="bi bi-card-heading "></i> MLS® {{property.ListingKey}} · {{property.ListOfficeName}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator class="py-3"
      [length]="propertiesList.length > 0 ? propertiesList[0].TotalRecords : 0"
      [pageIndex]="pageIndex-1"
      (page)="pageEvent = searchProperties(selectedFilters, $event)"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15, 20, 30, 40, 50, 80, 90, 100]"
      aria-label="Select page"></mat-paginator>
    </div>
    <div class="col-lg-6 col-12 p-0 position-sticky top-0" style="height: 100vh;">
      <div style="height: 90%;">
        <div #mapComponent id="mapComponent" style="height: 100%;"></div>
        <!-- <google-map id="mapComponent" mapId="mapComponent" draggable="true" #mapComponent 
        [center]="{lat:propertiesList[0].Latitude, lng:propertiesList[0].Longitude}" [zoom]="zoom" [disableDefaultUI]="false" [gestureHandling]="'none'"
        height="90%" width="100%">
        @for (property of markers; track property) { -->
          <!-- <map-advanced-marker id="mapAdvancedMarker"
            #marker="mapAdvancedMarker"
             
            (gmp-click)="openInfoWindow(marker, infoWindow, this)"> -->
            <!-- [position]="{ lat: property.position.lat, lng: property.position.lng }"  -->
          <!-- <div #infoWindow id="infoWindow"> -->
            <!-- <div>
              <h5>{{property.ListingKey}}</h5>
              <p><b>Address:</b> {{property.UnparsedAddress}}</p>
              <p><b>Cross Street:</b> {{property.CrossStreet}}</p>
              <p><b>City:</b> {{property.City}}</p>
              <p><b>Price:</b> ${{property.ListPrice}}</p>
              <p><b>Property Type:</b> {{property.PropertySubType}}</p>
              <p><b>Property Use:</b> {{property.TransactionType}}</p>
            </div> -->
          <!-- </div> -->
          <!-- <map-marker id="mapMarkerLarge"
            #mapMarker="mapMarker"
            [position]="{lat:property.Latitude, lng:property.Longitude}"
            [label]="property.ListOfficeName"
            [title]="property.PropertyUse"
            (mapClick)="openInfoWindow(property, mapMarker)"></map-marker>
           -->
        <!-- </google-map> -->
      </div>
    </div>
    </div>
  </div>