<div class="flex-shrink-0 p-3 side_bg text-dark vh-100 mobile border-end">
	<ul class="list-unstyled ps-0 mt-3">


		<li class="mb-1">
			<a routerLink="/dashboard"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-speedometer2 me-2"></i> Dashboard
			</a>
		</li>

		<li class="mb-1">
			<a routerLink="/template"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-cart me-2"></i> Templates
			</a>
		</li>

		<li class="mb-1">
			<a routerLink="/page-manager"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-person me-2"></i> Page Manager
			</a>
		</li>

		<li class="mb-1">
			<a routerLink="/old-manager"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-person me-2"></i>Landing Page Settings
			</a>
		</li>

		<li class="mb-1">
			<a routerLink="/menu-manager"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-person me-2"></i> Menu Manager
			</a>
		</li>

		<li class="mb-1">
			<a routerLink="/leads"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-building me-2"></i> Leads List
			</a>
		</li>

		<li class="mb-1">
			<a routerLink="/testimonial"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-building me-2"></i> Testimonial
			</a>
		</li>


		<li class="mb-1">
			<a routerLink="/users"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-people me-2"></i> Registered Users
			</a>
		</li>

		@if(isBroker){
		<li class="mb-1">
			<a routerLink="/manage-team"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-person-lines-fill me-2"></i> Team
			</a>
		</li>
		}

		<li class="mb-1">
			<a routerLink="/settings"
			   routerLinkActive="active"
			   class="d-flex align-items-center text-dark text-decoration-none py-2">
				<i class="bi bi-gear me-2"></i> Settings
			</a>
		</li>

	</ul>
</div>