.btn-toggle {
	color: #fff;
	text-align: left;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-toggle::after {
	content: "›";
	float: right;
	transform: rotate(90deg);
	transition: transform 0.3s ease;
	margin-left: 10px;
}

.btn-toggle.collapsed::after {
	transform: rotate(0deg);
	margin-left: 10px;
}

.side_bg {
	background-color: rgb(243, 243, 243);
}

.flex-shrink-0 .active {
	background-color: #495057 !important;
	border-radius: 0.375rem;
	font-weight: 600;
	padding: 10px;
	color: white !important;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.flex-shrink-0 .active i {
	color: #ffc107;
	transition: color 0.3s ease;
}

@media (max-width: 576px) {
	.mobile {
		display: none !important;
	}
}
