.nav_bg {
    background-color: var(--primary-color);
}

.logo{
    width: 17px;
}
a {
	font-size: 14px;
}
.quick-link {
  transition: all 0.2s ease-in-out;
}

.quick-link:hover {
  background-color: #f5f7fa;
  transform: translateX(3px);
}
.hover-dropdown:hover .dropdown-menu {
  display: block !important;
}

.hover-dropdown .dropdown-menu {
  margin-top: 0;
}
