<header class="editorial-header" id="editorialHeader">
  <div class="container search-container">
    <div class="row align-items-center py-3">

      <div class="col-12 col-lg-4 text-center text-lg-start mb-3 mb-lg-0">
        <h3 class="agent-name info mb-0">
          {{ siteConfig?.firstName }} {{ siteConfig?.lastName }}
        </h3>
        <p class="agent-role mb-0">
          {{ siteConfig.designation }}
        </p>
        <span class="scroll-underline"></span>
      </div>

      <div class="col-12 col-lg-4 d-flex justify-content-center gap-4">
        <a
          class="contact-pill"
          [href]="'tel:' + siteConfig?.websiteSettings?.contactInfo?.phone | phone">
          <i class="fa-solid fa-phone info"></i>
          {{ siteConfig?.websiteSettings?.contactInfo?.phone | phone }}
        </a>

        <a
          class="contact-pill"
          [href]="'mailto:' + siteConfig?.websiteSettings?.contactInfo?.email">
          <i class="fa-solid fa-envelope info"></i>
          {{ siteConfig?.websiteSettings?.contactInfo?.email }}
        </a>
      </div>

      <div class="col-12 col-lg-4 text-center text-lg-end mt-3 mt-lg-0">
        @if (siteConfig) {
          <a [routerLink]="['home']" class="brokerage-logo">
            <img
              [src]="siteConfig.websiteSettings.brokerageImage ? localImageUrl + siteConfig.websiteSettings.brokerageImage : '/images/Nologo.png'"
              alt="Brokerage logo"
              height="80px" />
          </a>
        }
      </div>

    </div>
  </div>
</header>

<app-menu />
