    <div class="container">
        <div class="row py-2 align-items-center justify-content-center">
            <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="images/brokerage.png" alt="" />
            </div>
            <div class="col-12 col-lg-6 d-flex py-lg-0 py-4 justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="">
                        <img src="t1/images/vector img/call.png" alt="" />
                    </div>
                    <div class="ms-2">
                        <p class="mb-0">
                            <a
                               class="text-dark fw-semibold text-decoration-none"
                               [href]="'tel:'+userInfo.PhoneNumber">{{userInfo.PhoneNumber}}</a>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center ms-3">
                    <div class="">
                        <img src="t1/images/vector img/email.png" alt="" />
                    </div>
                    <div class="ms-2">
                        <p class="mb-0">
                            <a
                               class="text-dark fw-semibold text-decoration-none"
                               [href]="'mailto:' + userInfo.EmailAddress">{{userInfo.EmailAddress}}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-end">
                <div class="">
                    <h2 class="mb-0">{{userInfo.FirstName}}</h2>
                    <p class="text-center mb-0">SALES REPRESENTATIVE</p>
                </div>
            </div>
        </div>
    </div>

    <nav
         class="navbar navbar-expand-lg nav_bg"
         aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2">
                <span class=""><i class="fa-solid fa-bars text-white"></i></span>
            </button>
            <div
                 class="offcanvas offcanvas-end text-bg-dark"
                 tabindex="-1"
                 id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
                        Brokers
                    </h5>
                    <button
                            type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 pe-3 home_nav">
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="#">Seller</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="./buyer.html">Buyer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="./featured.html">Featured Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="#">Pre Constructions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="calculator.html">Calculators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_content" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center">
                                <img class="img-fluid " src="t1/images/vector img/login.png" alt="">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="">
                                        <a class="nav-link nav_content" (click)="sendNotification()" href="#">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <img class="banner" src="t1/images/banner.png" alt="">
    </div>



    <div class="container-fluid menu_img">
        <div class="container">
            <div class="row justify-content-center">
                <p class="text fw-semibold text-white  py-5">Search Your Dream Home</p>
                <div class="col-12 bg-white p-4 mb-5">
                    <div class="row justify-content-around">
                        <div class="col-12 col-lg-auto p-0 mb-3 mb-lg-0">
                            <input
                                   type="text"
                                   class="w-100"
                                   placeholder="Location"
                                   aria-label="Location"
                                   aria-describedby="basic-addon1" />
                        </div>


                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop "
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Residential
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Any
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Beds
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Baths
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Status
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Min Price
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Max Price
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group ms-2 ms-lg-0 p-0 col-12 col-lg-auto mb-3 mb-lg-0">
                            <button
                                    class="btn btn-outline-secondary btn-sm dropdown-toggle drop"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Sq Feet
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 col-lg-auto">
                            <button type="button" class="btn btn-sm search_btn w-100">Success</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container py-lg-5 p-lg-0 p-4">
        <div class="row p-lg-4 p-3 estate-border">
            <p class="text mb-0 fw-semibold">"Enjoy a clear and simple home-buying experience"</p>
            <div class="col">
                <p class="estate text-center">Real Estate Specialist Name</p>
                <p class="text-center fw-semibold">
                    I believe every client has the right to be treated fairly, honestly and with integrity. My aim is to educate and prepare my clients to insure that they are always in a position to make informed decisions.Every engagement is an opportunity to create a lasting impression and a forever client. Acharya is a well serving in real estate with the reputation of providing quality services and keeping excellent relations with the clients. My intend to provide our clients with the best personalized real estate experience from beginning to end. I enjoy sharing my expertise by giving you the scoop on the local real estate market. My aim is to guide & prepare our clients to ensure that they are always in a position to make informed decision. I put our client’s interest above everything. I am professionally trained and licensed realtors who work for seeking to experience satisfaction and feel good emotionss.
                </p>
            </div>
        </div>
    </div>

    <div class="container py-lg-5 p-lg-0 p-4">
        <p class="text text-center mb-0 fw-semibold">Find Properties in These Cities</p>
        <p class="text-center fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="row py-lg-5 p-lg-0 p-4">
            <div class="col mb-lg-0 mb-3">

                <a class="text-decoration-none" href="./featured.html">

                    <div class="pro_card ">
                        <div class="content">
                            <img class="rounded " src="/t1/images/Group 2.png" alt="">
                            <p class="pro-card-text">Toronto</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mb-lg-0 mb-3">
                <a class="text-decoration-none" href="./featured.html">

                    <div class="pro_card ">
                        <div class="content">
                            <img class="rounded " src="t1/images/Group 3.png" alt="">
                            <p class="pro-card-text">Milton</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-lg-0 mb-3">
                <a class="text-decoration-none" href="./featured.html">

                    <div class="pro_card ">
                        <div class="content">
                            <img class="rounded " src="t1/images/Group 4.png" alt="">
                            <p class="pro-card-text">Brampton</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col mb-lg-0 mb-3">
                <a class="text-decoration-none" href="./featured.html">

                    <div class="pro_card ">
                        <div class="content">
                            <img class="rounded " src="t1/images/Group 5.png" alt="">
                            <p class="pro-card-text">City</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="container-fluid sec-3">
        <div class="container py-lg-5 p-lg-0 p-4">
            <p class="text text-center mb-0 fw-semibold">Featured Properties</p>
            <p class="text-center fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="row pt-5">
                <div class="col d-flex justify-content-center mb-lg-0 mb-3">
                    <a class="text-decoration-none" href="./room.html">

                        <div class="card" style="width: 18rem;">
                            <img src="t1/images/property-img-1.png" class="card-img-top" alt="...">
                            <div class="card-body pb-0">
                                <h5 class="card-title  fw-semibold">North Dillard Street</h5>
                                <p class="card-text pro-text"><span><img src="t1/images/vector img/location.png" alt=""></span> 4330 Bell Shoals Rd</p>
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/bed.png" alt=""></span> 4</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/shower.png" alt=""></span> 2</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/area.png" alt=""></span> 400 sqft</p>

                                    </div>
                                </div>
                                <div class="pt-3">

                                    <p class="fw-bold" style="color: #22614B;">Price: <span class="fw-bold text-dark pro-text">$5000</span></p>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="col d-flex justify-content-center mb-lg-0 mb-3">
                    <a class="text-decoration-none" href="./room.html">


                        <div class="card" style="width: 18rem;">
                            <img src="t1/images/property-img-2.png" class="card-img-top" alt="...">
                            <div class="card-body pb-0">
                                <h5 class="card-title  fw-semibold">North Dillard Street</h5>
                                <p class="card-text pro-text"><span><img src="t1/images/vector img/location.png" alt=""></span> 4330 Bell Shoals Rd</p>
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/bed.png" alt=""></span> 4</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/shower.png" alt=""></span> 2</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/area.png" alt=""></span> 400 sqft</p>

                                    </div>
                                </div>
                                <div class="pt-3">

                                    <p class="fw-bold" style="color: #22614B;">Price: <span class="fw-bold text-dark pro-text">$5000</span></p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="col d-flex justify-content-center mb-lg-0 mb-3">
                    <a class="text-decoration-none" href="./room.html">

                        <div class="card" style="width: 18rem;">
                            <img src="t1/images/property-img-3.png" class="card-img-top" alt="...">
                            <div class="card-body pb-0">
                                <h5 class="card-title  fw-semibold">North Dillard Street</h5>
                                <p class="card-text pro-text"><span><img src="t1/images/vector img/location.png" alt=""></span> 4330 Bell Shoals Rd</p>
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/bed.png" alt=""></span> 4</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/shower.png" alt=""></span> 2</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/area.png" alt=""></span> 400 sqft</p>

                                    </div>
                                </div>
                                <div class="pt-3">

                                    <p class="fw-bold" style="color: #22614B;">Price: <span class="fw-bold text-dark pro-text">$5000</span></p>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="col d-flex justify-content-center mb-lg-0 mb-3">
                    <a class="text-decoration-none" href="./room.html">
                        <div class="card" style="width: 18rem;">
                            <img src="t1/images/property-img-4.png" class="card-img-top" alt="...">
                            <div class="card-body pb-0">
                                <h5 class="card-title  fw-semibold">North Dillard Street</h5>
                                <p class="card-text pro-text"><span><img src="t1/images/vector img/location.png" alt=""></span> 4330 Bell Shoals Rd</p>
                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/bed.png" alt=""></span> 4</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/shower.png" alt=""></span> 2</p>

                                    </div>
                                    <div class="">
                                        <p class="card-text pro-text"><span><img src="t1/images/vector img/area.png" alt=""></span> 400 sqft</p>

                                    </div>
                                </div>
                                <div class="pt-3">

                                    <p class="fw-bold" style="color: #22614B;">Price: <span class="fw-bold text-dark pro-text">$5000</span></p>
                                </div>
                            </div>

                        </div>

                    </a>

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid sec-4">
        <div class="container">
            <div class="row py-lg-5 p-lg-0 p-4 align-items-center justify-content-center">
                <div class="col-lg-8 col-12">
                    <p class="worth">
                        WHAT’S YOUR HOME <br> REALLY WORTH?
                    </p>
                    <p class="text-white">
                        Type your address below to find out how much your <br> property is worth.
                    </p>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control email " placeholder="Email address.." aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <button type="button" class="btn btn-light w-100 submit fw-semibold">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container ">
            <div class="py-lg-5 p-lg-0 p-4">

                <p class="text text-center mb-0 fw-semibold">Pre-Construction Condos</p>
                <p class="text-center fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="row p-4 p-lg-0 ">
                <div class="col d-flex justify-content-center mb-3 mb-lg-0">
                    <div class="card border border-0" style="width: 18rem;">
                        <img src="t1/images/Bridle.png" class="card-img-top" alt="...">
                        <div class="card-body ps-0">
                            <p class="card-text">Artline on O’connor Condos</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-3 mb-lg-0">
                    <div class="card border border-0" style="width: 18rem;">
                        <img src="t1/images/ArtlifeOnO.png" class="card-img-top" alt="...">
                        <div class="card-body ps-0">
                            <p class="card-text">BrightWater Town</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-3 mb-lg-0">
                    <div class="card border border-0" style="width: 18rem;">
                        <img src="t1/images/Edenbridge.png" class="card-img-top" alt="...">
                        <div class="card-body ps-0">
                            <p class="card-text">Edenbridge on the Kingsways</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-3 mb-lg-0">
                    <div class="card border border-0" style="width: 18rem;">
                        <img src="t1/images/Brightwaterrrr.png" class="card-img-top" alt="...">
                        <div class="card-body ps-0">
                            <p class="card-text">Bridle Trail Urban Towns</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid fotter-bg mt-5">
        <div class="container">

            <footer class="py-5">
                <div class="row justify-content-center align-items-center  border-bottom pb-3 mb-3 ">
                    <div class="col-lg-2 col-12 d-flex justify-content-center mb-3 mb-lg-0">
                        <img src="t1/images/footer.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12  mb-3 mb-lg-0">

                        <p class="fs-3 fw-semibold text-center">Address</p>

                        <p class=" text-center">
                            {{userInfo.Address}}
                        </p>
                    </div>
                    <div class="col-lg-2 col-12 mb-3 mb-lg-0 footer-contact">
                        <p class="fs-3 fw-semibold text-center"> Contact</p>
                        <div class=" d-flex justify-content-center">
                            <div class="">
                                <img src="t1/images/vector img/call2.png" alt="" />
                            </div>
                            <div class="ms-2">
                                <p>
                                    <a
                                       class="text-white fw-semibold text-decoration-none"
                                       href="tel:+{{userInfo.PhoneNumber}}">{{userInfo.PhoneNumber}}</a>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <div class="">
                                <img src="t1/images/vector img/mail2.png" alt="" />
                            </div>
                            <div class="ms-2">
                                <p>
                                    <a
                                       class="text-white fw-semibold text-decoration-none"
                                       href="mailto:someone@example.com">{{userInfo.EmailAddress}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center text-white ">Copyright 2021 All rights reserved. Toronto Real Estate Board (TREB) assumes no responsibility for the accuracy of any information shown. The information provided herein must only be used by consumers that have a bona fide interest in the purchase, sale or lease of real estate and may not be used for any commercial purpose or any other purpose.</p>
            </footer>
        </div>
    </div>
