@if(siteSideMenu){
<div>
	<ul class="list-unstyled mb-0">
		@for (menu of siteSideMenu; track $index) {
		@if(menu.children && menu.children.length > 0){
		<li class="nav-item dropdown hover-dropdown">
			<a class="d-flex align-items-center p-2 rounded text-decoration-none text-dark quick-link"
			   href="#"
			   role="button">
				{{menu.name}}
			</a>
			<ul class="dropdown-menu">
				@for (child of menu.children; track child._id) {
				@if(child.menuType == 'page'){
				<li>
					<a class="dropdown-item"
					   [routerLink]="[child.pageKey]">
						{{child.name}}
					</a>
				</li>
				}@else {
				<li>
					<a class="dropdown-item"
					   [href]="[child.linkUrl]"
					   target="_blank">
						{{child.name}}
					</a>
				</li>
				}
				}
			</ul>
		</li>
		}@else if(menu.menuType == 'page'){
		<li class="nav-item">
			<a class="d-flex align-items-center p-2 rounded text-decoration-none text-dark quick-link"
			   [routerLink]="[menu.pageKey]">
				{{menu.name}}
			</a>
		</li>
		}@else {
		<li class="nav-item">
			<a class="d-flex align-items-center p-2 rounded text-decoration-none text-dark quick-link"
			   [href]="[menu.linkUrl]"
			   target="_blank">
				{{menu.name}}
			</a>
		</li>
		}
		}
		<!-- <li class="nav-item">
							<a class="nav-link nav_content"
							   [routerLink]="['about']">
								About
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav_content"
							   [routerLink]="['seller']">
								Seller
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav_content"
							   [routerLink]="['buyer']">
								Buyer
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav_content"
							   [routerLink]="['featured-listings']">
								Featured Listings
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav_content"
							   [routerLink]="['calculator']">
								Calculators
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav_content"
							   [routerLink]="['contact']">
								Contact
							</a>
						</li> -->
	</ul>
</div>

}