.jumbotron {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron p {
	font-size: 16px;
}

.top-header-title {
	font-size: 28px;
	color: #f84f4f;
	font-weight: bold;
}

.mortgageDetailsLabel {
	min-width: 200px;
	text-align: left;
	white-space: pre-line;
	font-size: 14px;
}

.labelMrtgCalc {
	font-size: 14px;
	text-align: left;
	color: #f84f4f;
	font-weight: bold;
	min-width: 180px;
	max-height: 30px;
}

.mortgageDetailsLabelsm {
	min-width: 5px;
	max-width: 5px;
	text-align: left;
	white-space: pre-line;
	font-size: 12px;
}

.labelMrtgCalcFormatted {
	font-size: 12px;
	text-align: left;
	height: 30px;
}

.categoryheader {
	color: #343434;
	font-weight: bold;
}

.valuelabel {
	font-size: 13px;
	color: #707070;
	padding-left: 10px;
	text-align: left;
	min-width: 180px;
}

.labelgroup {
	border-radius: 12px;
	font-size: 14px;
	color: #ffffff;
	background-color: #707070;
	min-width: 180px;
	text-align: left;
}

.spacer160 {
	min-width: 160px;
}

/* Navigation link styles */
nav a {
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}
nav a:visited,
a:link {
	color: #607d8b;
}
nav a:hover {
	color: #039be5;
	background-color: #cfd8dc;
}
nav a.router-link-active {
	color: #039be5;
}

/* items class */
.items {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 24em;
}
.items li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #eee;
	margin: 0.5em;
	padding: 0.3em 0;
	height: 1.6em;
	border-radius: 4px;
}
.items li:hover {
	color: #607d8b;
	background-color: #ddd;
	left: 0.1em;
}
.items li.selected:hover {
	background-color: #bbd8dc;
	color: white;
}
.items .text {
	position: relative;
	top: -3px;
}
.items {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 24em;
}
.items li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #eee;
	margin: 0.5em;
	padding: 0.3em 0;
	height: 1.6em;
	border-radius: 4px;
}
.items li:hover {
	color: #607d8b;
	background-color: #ddd;
	left: 0.1em;
}
.items li.selected {
	background-color: #cfd8dc;
	color: white;
}

.items li.selected:hover {
	background-color: #bbd8dc;
}
.items .text {
	position: relative;
	top: -3px;
}
.items .badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607d8b;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: 0.8em;
	border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #f88b8c;
	color: white;
}

/* Tooltip styling */
[data-tooltip]:before {
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	background: #f8d7dc;
	color: #343434;
	padding: 3px 6px;
	font-size: 12px;
	line-height: 1.4;
	min-width: 330px;
	text-align: left;
	border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="bottom"]:before {
	left: 50%;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

[data-tooltip-position="bottom"]:before {
	top: 100%;
	margin-top: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
	content: "";
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
	left: 50%;
	margin-left: -6px;
}

[data-tooltip-position="bottom"]:after {
	top: 100%;
	border-width: 0 6px 6px;
	border-bottom-color: #000;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: block;
	z-index: 40;
}

#adsbase {
	height: auto;
	margin: 0auto;
	width: auto;
	text-align: center;
	padding: 4px;
}
#adsheadline {
	opacity: 1;
	height: auto;
	width: auto;
	position: fixed;
	top: 30px;
	left: 5px;
	color: #fff;
	padding: 0px;
	z-index: 1001;
}

#boxstyle {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.1em;
}

#boxstyle2 {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.1em;
	float: right;
	padding-top: 1px;
	padding-right: 10px;
}
