<div class="col mt-3">
	<h2>Page Manager</h2>
	<p class="">Manage page content</p>

	<div class="border rounded p-4">
		<div class="row justify-content-center">
			<div class="col-12 d-flex justify-content-center">
				<form [formGroup]="agentForm"
					  name="brokerageForm"
					  class="w-100"
					  (ngSubmit)="save()">


					<!-- About and Contact Text Areas -->
					<div class="mb-4">
						<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
							<i class="fas fa-info-circle text-muted me-2"></i>
							Website About & Contact Text
						</h6>
						<small class="text-muted d-block mb-3">
							Add a description about your website and a contact message. This information will be
							displayed on your website's About and Contact sections.
						</small>

						<div class="row mb-4 ">
							<div class="col-12 mb-2">
								<div class="d-flex gap-2 items-center">
									<p-checkbox inputId="showHomeWorthPage"
												[binary]="true"
												name="showHomeWorthPage"
												formControlName="showHomeWorthPage" />

									<label for="showHomeWorthPage"
										   class="ml-2"> Display How much Your Home Worth Landing Page </label>
								</div>
							</div>
							<div class="col-12 mb-2">
								<div class="d-flex gap-2 items-center">
									<p-checkbox inputId="showSellingInNeighbourHooddPage"
												[binary]="true"
												name="showSellingInNeighbourHooddPage"
												formControlName="showSellingInNeighbourHooddPage" />

									<label for="showSellingInNeighbourHooddPage"
										   class="ml-2"> Display Selling in neighbour hood Landing Page </label>
								</div>
							</div>
							<div class="col-12 mb-2">
								<div class="d-flex gap-2 items-center">
									<p-checkbox inputId="showFindDreamHomePage"
												[binary]="true"
												name="showFindDreamHomePage"
												formControlName="showFindDreamHomePage" />

									<label for="showFindDreamHomePage"
										   class="ml-2"> Display Find Your Home Landing Page </label>
								</div>
							</div>
						</div>

						<div class="row mb-4 d-flex flex-column gap-4">
							<div class="col-md-12 field">
								<label for="aboutText"
									   class="form-label fw-semibold d-block mb-2">
									About Text
								</label>
								<p-editor formControlName="aboutText"
										  [style]="{ height: '320px' }"
										  id="aboutText">
									<p-header>
										<span class="ql-formats">
											<select class="ql-header">
												<option value="1">Heading</option>
												<option value="2">Subheading</option>
												<option selected>Normal</option>
											</select>
											<select class="ql-font">
												<option selected>Sans Serif</option>
												<option value="serif">Serif</option>
												<option value="monospace">Monospace</option>
											</select>
										</span>
										<span class="ql-formats">
											<button class="ql-bold"
													aria-label="Bold"></button>
											<button class="ql-italic"
													aria-label="Italic"></button>
											<button class="ql-underline"
													aria-label="Underline"></button>
											<button class="ql-code-block"
													aria-label="Code Block"></button>
										</span>
										<span class="ql-formats">
											<select class="ql-color"></select>
											<select class="ql-background"></select>
										</span>
										<span class="ql-formats">
											<button class="ql-list"
													value="ordered"
													aria-label="Ordered List"></button>
											<button class="ql-list"
													value="bullet"
													aria-label="Unordered List"></button>
											<select class="ql-align">
												<option selected></option>
												<option value="center"></option>
												<option value="right"></option>
												<option value="justify"></option>
											</select>
										</span>
									</p-header>
								</p-editor>
							</div>

							<div class="col-md-12 field">
								<label for="contactText"
									   class="form-label fw-semibold d-block mb-2">
									Contact Text
								</label>
								<p-editor formControlName="contactText"
										  id="contactText">
									<p-header>
										<span class="ql-formats">
											<select class="ql-header">
												<option value="1">Heading</option>
												<option value="2">Subheading</option>
												<option selected>Normal</option>
											</select>
											<select class="ql-font">
												<option selected>Sans Serif</option>
												<option value="serif">Serif</option>
												<option value="monospace">Monospace</option>
											</select>
										</span>
										<span class="ql-formats">
											<button class="ql-bold"
													aria-label="Bold"></button>
											<button class="ql-italic"
													aria-label="Italic"></button>
											<button class="ql-underline"
													aria-label="Underline"></button>
											<button class="ql-code-block"
													aria-label="Code Block"></button>
										</span>
										<span class="ql-formats">
											<select class="ql-color"></select>
											<select class="ql-background"></select>
										</span>
										<span class="ql-formats">
											<button class="ql-list"
													value="ordered"
													aria-label="Ordered List"></button>
											<button class="ql-list"
													value="bullet"
													aria-label="Unordered List"></button>
											<select class="ql-align">
												<option selected></option>
												<option value="center"></option>
												<option value="right"></option>
												<option value="justify"></option>
											</select>
										</span>
									</p-header>
								</p-editor>
							</div>
						</div>
					</div>
					<!-- Selling/Buying Info Text Areas -->
					<div class="mb-4">
						<h6 class="text-muted mb-3 border-bottom pb-2 d-flex align-items-center">
							<i class="fas fa-home text-muted me-2"></i>
							Selling & Buying Information
						</h6>
						<small class="text-muted d-block mb-3">
							Add content for sellers and buyers. These will be displayed on relevant sections of your
							website.
						</small>

						<div class="d-flex flex-column gap-4">
							<div class="col-md-12 field">
								<label for="sellingYourHouseText"
									   class="form-label fw-semibold d-block mb-2">
									Selling Your House Text
								</label>
								<p-editor formControlName="sellingYourHouseText"
										  id="sellingYourHouseText">
									<p-header>
										<span class="ql-formats">
											<select class="ql-header">
												<option value="1">Heading</option>
												<option value="2">Subheading</option>
												<option selected>Normal</option>
											</select>
											<select class="ql-font">
												<option selected>Sans Serif</option>
												<option value="serif">Serif</option>
												<option value="monospace">Monospace</option>
											</select>
										</span>
										<span class="ql-formats">
											<button class="ql-bold"
													aria-label="Bold"></button>
											<button class="ql-italic"
													aria-label="Italic"></button>
											<button class="ql-underline"
													aria-label="Underline"></button>
											<button class="ql-code-block"
													aria-label="Code Block"></button>
										</span>
										<span class="ql-formats">
											<select class="ql-color"></select>
											<select class="ql-background"></select>
										</span>
										<span class="ql-formats">
											<button class="ql-list"
													value="ordered"
													aria-label="Ordered List"></button>
											<button class="ql-list"
													value="bullet"
													aria-label="Unordered List"></button>
											<select class="ql-align">
												<option selected></option>
												<option value="center"></option>
												<option value="right"></option>
												<option value="justify"></option>
											</select>
										</span>
									</p-header>
								</p-editor>
							</div>

							<div class="col-md-12 field">
								<label for="renovatingForResellText"
									   class="form-label fw-semibold d-block mb-2">
									Renovating for Resell Text
								</label>
								<p-editor formControlName="renovatingForResellText"
										  id="renovatingForResellText">
									<p-header>
										<span class="ql-formats">
											<select class="ql-header">
												<option value="1">Heading</option>
												<option value="2">Subheading</option>
												<option selected>Normal</option>
											</select>
											<select class="ql-font">
												<option selected>Sans Serif</option>
												<option value="serif">Serif</option>
												<option value="monospace">Monospace</option>
											</select>
										</span>
										<span class="ql-formats">
											<button class="ql-bold"
													aria-label="Bold"></button>
											<button class="ql-italic"
													aria-label="Italic"></button>
											<button class="ql-underline"
													aria-label="Underline"></button>
											<button class="ql-code-block"
													aria-label="Code Block"></button>
										</span>
										<span class="ql-formats">
											<select class="ql-color"></select>
											<select class="ql-background"></select>
										</span>
										<span class="ql-formats">
											<button class="ql-list"
													value="ordered"
													aria-label="Ordered List"></button>
											<button class="ql-list"
													value="bullet"
													aria-label="Unordered List"></button>
											<select class="ql-align">
												<option selected></option>
												<option value="center"></option>
												<option value="right"></option>
												<option value="justify"></option>
											</select>
										</span>
									</p-header>
								</p-editor>
							</div>

							<div class="row">
								<div class="col-md-12 field">
									<label for="commonSellingMistakeText"
										   class="form-label fw-semibold d-block mb-2">
										Common Selling Mistake Text
									</label>
									<p-editor formControlName="commonSellingMistakeText"
											  id="commonSellingMistakeText">
										<p-header>
											<span class="ql-formats">
												<select class="ql-header">
													<option value="1">Heading</option>
													<option value="2">Subheading</option>
													<option selected>Normal</option>
												</select>
												<select class="ql-font">
													<option selected>Sans Serif</option>
													<option value="serif">Serif</option>
													<option value="monospace">Monospace</option>
												</select>
											</span>
											<span class="ql-formats">
												<button class="ql-bold"
														aria-label="Bold"></button>
												<button class="ql-italic"
														aria-label="Italic"></button>
												<button class="ql-underline"
														aria-label="Underline"></button>
												<button class="ql-code-block"
														aria-label="Code Block"></button>
											</span>
											<span class="ql-formats">
												<select class="ql-color"></select>
												<select class="ql-background"></select>
											</span>
											<span class="ql-formats">
												<button class="ql-list"
														value="ordered"
														aria-label="Ordered List"></button>
												<button class="ql-list"
														value="bullet"
														aria-label="Unordered List"></button>
												<select class="ql-align">
													<option selected></option>
													<option value="center"></option>
													<option value="right"></option>
													<option value="justify"></option>
												</select>
											</span>
										</p-header>
									</p-editor>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 field">
									<label for="buyerText"
										   class="form-label fw-semibold d-block mb-2">
										Buyer Text
									</label>
									<p-editor formControlName="buyerText"
											  id="buyerText">
										<p-header>
											<span class="ql-formats">
												<select class="ql-header">
													<option value="1">Heading</option>
													<option value="2">Subheading</option>
													<option selected>Normal</option>
												</select>
												<select class="ql-font">
													<option selected>Sans Serif</option>
													<option value="serif">Serif</option>
													<option value="monospace">Monospace</option>
												</select>
											</span>
											<span class="ql-formats">
												<button class="ql-bold"
														aria-label="Bold"></button>
												<button class="ql-italic"
														aria-label="Italic"></button>
												<button class="ql-underline"
														aria-label="Underline"></button>
												<button class="ql-code-block"
														aria-label="Code Block"></button>
											</span>
											<span class="ql-formats">
												<select class="ql-color"></select>
												<select class="ql-background"></select>
											</span>
											<span class="ql-formats">
												<button class="ql-list"
														value="ordered"
														aria-label="Ordered List"></button>
												<button class="ql-list"
														value="bullet"
														aria-label="Unordered List"></button>
												<select class="ql-align">
													<option selected></option>
													<option value="center"></option>
													<option value="right"></option>
													<option value="justify"></option>
												</select>
											</span>
										</p-header>
									</p-editor>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex justify-content-end align-items-center">
						<div class="d-flex align-items-center">
							<button type="submit"
									class="btn btn-success px-4">
								<i class="fas fa-save me-2"></i>
								Save Changes
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>