<div class="background-container">
	<div class="container-fluid search-container">
		<div class="row justify-content-around align-items-center">
				<div class="top-padding1">
					<div class="row justify-content-center">
						<p class="text fs-1 text-white fw-semibold pt-3">Search Your Dream Home</p>
						<div class="col-12 bg-white p-4 mb-5">
							<app-search [onSearch]="searchProperties" />
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="container-fluid sec-3 py-5">
	<h3 class="fw-semibold text-center">Our Team</h3>
	<div class="container search-container p-5">
		<div class="row">
			<div class="col-lg-6 col-12">
				@if (siteConfig && siteConfig.secondaryAgent && siteConfig.secondaryAgent.enableSecondaryAgent) {
				<div class="card border-0 shadow p-0"
					 style="max-width: 540px">
					<div class="row g-0 justify-content-around">
						<div class="col-md-6 d-flex justify-content-center align-items-center">
							<img [src]="localImageUrl + siteConfig.secondaryAgent.profileImage"
								 alt="No profile image"
								 class="overlay-image w-100" />
						</div>
						<div class="col-md-6">
							<div class="card-body">
								<h5 class="card-title fw-semibold">
									{{ siteConfig.secondaryAgent.firstName }} {{ siteConfig.secondaryAgent.lastName }}
								</h5>
								<p class="card-text fw-semibold">{{ siteConfig.secondaryAgent.designation}}</p>
								<div class="">
									<div class="d-flex mb-2">
										<div class="">
											<i class="fa-solid fa-phone info"></i>

										</div>
										<div class="ms-2">
											<p>
												<a class="text-dark fw-semibold text-decoration-none"
												   [href]="'tel:' + siteConfig.secondaryAgent.websitePhone">
													{{ siteConfig.secondaryAgent.websitePhone | phone }}
												</a>
											</p>
										</div>
									</div>
									<div class="d-flex">
										<div class="">
											<i class="fa-solid fa-envelope info"></i>

										</div>
										<div class="ms-2">
											<p>
												<a class="text-dark fw-semibold text-decoration-none"
												   [href]="'mailto:' + siteConfig.secondaryAgent.websiteEmail">
													{{ siteConfig.secondaryAgent.websiteEmail }}
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="d-flex gap-2">

									@if (siteConfig.websiteSettings.socialLinks.facebook) {
									<a [href]="siteConfig.websiteSettings.socialLinks.facebook"
									   target="_blank"
									   rel="noopener noreferrer"
									   class="btn btn-light border">
										<i class="bi bi-facebook info"></i>
									</a>
									}

									@if (siteConfig.websiteSettings.socialLinks.twitter) {
									<a [href]="siteConfig.websiteSettings.socialLinks.twitter"
									   target="_blank"
									   rel="noopener noreferrer"
									   class="btn btn-light border">
										<i class="bi bi-twitter info"></i>
									</a>
									}

									@if (siteConfig.websiteSettings.socialLinks.instagram) {
									<a [href]="siteConfig.websiteSettings.socialLinks.instagram"
									   target="_blank"
									   rel="noopener noreferrer"
									   class="btn btn-light border">
										<i class="bi bi-instagram info"></i>
									</a>
									}


								</div>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			<div class="col-lg-6 col-12 mt-5 mt-lg-0">
				<div class="card border-0 shadow p-0"
					 style="max-width: 540px">
					<div class="row g-0 justify-content-around">
						<div class="col-md-6 d-flex justify-content-center align-items-center">
							<img [src]="
									siteConfig.websiteSettings.profileImage
										? siteConfig.websiteSettings.profileImage
										: '/images/Nologo.png'
								"
								 alt="No profile image"
								 class="overlay-image w-100" />
						</div>
						<div class="col-md-6">
							<div class="card-body">
								<h5 class="card-title fw-semibold">{{ siteConfig.firstName }} {{ siteConfig.lastName }}
								</h5>
								<p class="card-text fw-semibold">{{ siteConfig.designation}}</p>
								<div class="">
									<div class="d-flex">
										<div class="">
											<i class="fa-solid fa-phone info"></i>
										</div>
										<div class="ms-2">
											<p class="">
												<a class="text-dark fw-semibold text-decoration-none"
												   [href]="'tel:' + siteConfig.websiteSettings.contactInfo.phone">
													{{ siteConfig.websiteSettings.contactInfo.phone | phone }}
												</a>
											</p>
										</div>
									</div>
									<div class="d-flex">
										<div class="">
											<i class="fa-solid fa-envelope info"></i>
										</div>
										<div class="ms-2">
											<p>
												<a class="text-dark fw-semibold text-decoration-none"
												   [href]="'mailto:' + siteConfig.websiteSettings.contactInfo.email">
													{{ siteConfig.websiteSettings.contactInfo.email }}
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="d-flex gap-2">
									@if (siteConfig.websiteSettings.socialLinks.facebook) {
									<a [href]="siteConfig.websiteSettings.socialLinks.facebook"
									   target="_blank"
									   rel="noopener noreferrer"
									   class="btn btn-light border">
										<i class="bi bi-facebook info"></i>
									</a>
									}

									@if (siteConfig.websiteSettings.socialLinks.twitter) {
									<a [href]="siteConfig.websiteSettings.socialLinks.twitter"
									   target="_blank"
									   rel="noopener noreferrer"
									   class="btn btn-light border">
										<i class="bi bi-twitter info"></i>
									</a>
									}

									@if (siteConfig.websiteSettings.socialLinks.instagram) {
									<a [href]="siteConfig.websiteSettings.socialLinks.instagram"
									   target="_blank"
									   rel="noopener noreferrer"
									   class="btn btn-light border">
										<i class="bi bi-instagram info"></i>
									</a>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@if(
  siteConfig.websiteSettings.showHomeWorthPage ||
  siteConfig.websiteSettings.showSellingInNeighbourHooddPage ||
  siteConfig.websiteSettings.showFindDreamHomePage
){
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center g-4">

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="feature-card h-100 text-center" >
                    <div class="icon-wrap">
                        <i class="bi bi-house-heart-fill"></i>
                    </div>
                    <h5>Home Evaluation</h5>
                    <p>Get instant insights on what your home is worth.</p>
                    <a href="/home-worth" class="btn btn-outline-primary">Check Worth</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="feature-card h-100 text-center" >
                    <div class="icon-wrap">
                        <i class="bi bi-pin-map-fill"></i>
                    </div>
                    <h5>Neighbourhood Watch</h5>
                    <p>Get alerts when neighbours list homes for sale.</p>
                    <a href="/neighbor-detail" class="btn btn-outline-primary">Get Alerts</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="feature-card h-100 text-center" >
                    <div class="icon-wrap">
                        <i class="bi bi-search-heart"></i>
                    </div>
                    <h5>Dream Home Finder</h5>
                    <p>Explore listings and find your dream home today.</p>
                    <a href="/dream-home" class="btn btn-outline-primary">Explore</a>
                </div>
            </div>

        </div>
    </div>
</section>
}
<app-team-card />


<div class="container-fluid search-container">
	<div class="container">
		<p class="text text-center py-3 fw-semibold">Featured Properties</p>
		<app-featured-properties />
	</div>
</div>


<div class="container text-center py-5">
	<p class="text text-center fw-semibold">Find Properties in These Cities</p>
	<div class="row">
		<div class="col-lg-3 col-12 mt-lg-0 mt-3 p-0">
			<div class="image-container"
				 (click)="searchProperties({ city: 'Toronto' })">
				<img src="./t6/images/p1.png"
					 alt="" />
				<div class="image-label">Toronto</div>
			</div>
		</div>
		<div class="col-lg-3 col-12 mt-lg-0 mt-3 p-0">
			<div class="image-container"
				 (click)="searchProperties({ city: 'Milton' })">
				<img src="./t6/images/p2.png"
					 alt="" />
				<div class="image-label">Milton</div>
			</div>
		</div>
		<div class="col-lg-3 col-12 mt-lg-0 mt-3 p-0">
			<div class="image-container"
				 (click)="searchProperties({ city: 'Brampton' })">
				<img src="./t6/images/p3.png"
					 alt="" />
				<div class="image-label">Brampton</div>
			</div>
		</div>
		<div class="col-lg-3 col-12 mt-lg-0 mt-3 p-0">
			<div class="image-container"
				 (click)="searchProperties({ city: 'Mississauga' })">
				<img src="./t6/images/p4.png"
					 alt="" />
				<div class="image-label">Mississauga</div>
			</div>
		</div>
	</div>
</div>


<div class="container py-lg-5 p-lg-0 p-4 search-container">
	<div class="row align-items-center justify-content-around">
		<div class="col-lg-5 col-12">
			<h2 class=" fw-semibold">
				"Enjoy a clear and simple <br> home-buying experience"
			</h2>
			<p class="info fs-4">{{ siteConfig.firstName }} {{ siteConfig.lastName }} {{ siteConfig.designation }}</p>
			<p class=" fw-normal">
				I believe every client has the right to be treated fairly, honestly and with integrity. My aim is to
				educate and prepare my clients to insure that they are always in a position to make informed decisions.
				Every engagement is an opportunity to create a lasting impression and a forever client.
			</p>
		</div>
		<div class="col-lg-7 col-12 mt-3 mt-lg-0 d-flex justify-content-lg-end">
			<div class="">
				<img class="w-100 rounded"
					 src="t8/images/real-state.png"
					 alt="">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid sec-4 search-container">
	<div class="container">
		<div class="row py-lg-5 p-lg-0 p-4 align-items-center justify-content-center">
			<div class="col-lg-8 col-12">
				<div class="">
					<img class="img-fluid"
						 src="t6/images/contact-img.png"
						 alt="" />
				</div>
			</div>
			<div class="col-lg-4 col-12 mt-lg-0 mt-3">
				<div class="card shadow">
					<div class="card-body">
						<app-hero-contact-form />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>