<div class=" search-container">
  <h3 class="text-center pt-3 estate ">Enter your details</h3>
        <p class="text-muted small text-center">Please fill in the form below to contact us.</p>
  <mat-dialog-content id="siteDialog">
        <form [formGroup]="userForm" name="userForm">
  <div class="form-container">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" class="w-100" required matInput placeholder="Enter your first name" />
      <mat-error>First name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input type="email" formControlName="emailAddress" class="w-100" required matInput placeholder="yourname@example.com" />
      @if (userForm.hasError('email', 'emailAddress') && !userForm.hasError('required', 'emailAddress')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (userForm.hasError('required', 'emailAddress')) {
        <mat-error>Email is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input type="tel" formControlName="phoneNumber" class="w-100" matInput placeholder="+1 (123) 456-7890" />
      @if (userForm.hasError('pattern', 'phoneNumber')) {
        <mat-error>Please enter a valid phone number</mat-error>
      }
      @if (userForm.hasError('required', 'phoneNumber')) {
        <mat-error>Phone number is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Leave a Comment</mat-label>
      <textarea formControlName="comment" rows="4" class="w-100" matInput placeholder="Your thoughts or feedback..."></textarea>
      <mat-error>Comment is required</mat-error>
    </mat-form-field>
  </div>
</form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="close(false)" class="btn btn-dark me-2 px-4 py-2 fw-semibold mt-5">Close</button>
      <button class="btn btn-success me-2 px-4 py-2 fw-semibold mt-5" (click)="save()">Save</button>
    </mat-dialog-actions>
</div>