@if ((templates$ | async)) {
<div class="container-fluid">
	<div class="container py-3">
		<h1 class="text-center pt-2">Choose Template</h1>
		<div class="row py-5">
			<div class="col-lg-12">
				<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-5">
					@for (template of templates$ | async; track template) {
					<div class="col">
						<div>
							<app-gallery [images]="template.images" />
						</div>
						<p class="text-center fw-bold mt-2 text-capitalize">
							{{template.templateKey}} - {{template.name}}
						</p>
						<div class="text-center">
							<footer class="footer">
								<button [class]="template.templateKey == selectedTemplate ? 'btn btn-success border border-success green' : 'btn btn-primary'"
										(click)="setTemplate(template)"
										class="me-2 mt-4">
									{{ template.templateKey == selectedTemplate ? "Applied" : "Apply" }}
									@if(template.templateKey == selectedTemplate){
									<i class="bi bi-check"></i>
									}
								</button>
								<button class="btn btn-danger mt-4"
										(click)="previewTemplate(template)">
									Preview
								</button>
							</footer>
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}