h2 {
    text-align: center;
  }
  
  .carousel {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .carousel img {
    width: 100%;
  }
  .carousel .carousel-inner{
    margin-bottom: 20px !important;
  }

  .green{
    box-shadow: #95d8b9 0px 20px 30px -10px;
  }
  .card_hover{
    box-shadow: #95d8b9 0px 20px 30px -10px;
    transition: transform 250ms;
  }
  .card_hover:hover {
    transform: translateY(-15px);
  }

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  top: 21% !important;
  padding-top: 1.25rem;
  bottom: 20% !important;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

  .fixed-height {
    height: 300px; /* Adjust height as needed */
    width: 100%; 
    object-fit: cover;
  }

  .gallery_img {
    object-fit: cover;
    background-color: white !important;
    border: 1px #969696 solid;
    border-radius: 7px;
    height: 386px;
    }
  