  .background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/t6/images/banner.jpg');
    background-size: cover;
    background-position: center;
  }
  .sec-3{
    background-color: #FFF2EB;
  }


.man{
  left: 246px;
    bottom: 0px;
}

.man2{
  right: 246px;
  bottom: 0px;
}

.man-card{
  bottom: 40px;
  left: 246px;
  background-color: #00000066;
  backdrop-filter: blur(2px);
  border: 1px solid #FFFFFF;
}

.man-card2{
  bottom: 40px;
  right: 246px;
  background-color: #00000066;
  backdrop-filter: blur(2px);
  border: 1px solid #FFFFFF;
}

@media (max-width: 767px) {
  .man{
    left: 60px;
    bottom: 400px;
  }

  .man-card{
    bottom: 40px;
    left: 50px;
    background-color: #00000066;
    backdrop-filter: blur(2px);
    border: 1px solid #FFFFFF;
  }
  
  
  .man2{
    right: 78px;
    bottom: 0px;
  }
  .man-card2{
    bottom: 40px;
    right: 85px;
    background-color: #00000066;
    backdrop-filter: blur(2px);
    border: 1px solid #FFFFFF;
  }

}
