<header class="search-container editorial-header">
  <div class="container">
    <div class="row align-items-center py-3 header-inner">

      <div class="col-lg-4 col-12 order-2 order-lg-1">
        <div class="agent-editorial text-center text-lg-start">
          <h3 class="agent-name info mb-0">
            {{ siteConfig?.firstName }} {{ siteConfig?.lastName }}
          </h3>
          <span class="agent-role">
            {{ siteConfig?.designation }}
          </span>
        </div>
      </div>

      <div class="col-lg-4 col-12 order-3 order-lg-2">
        <div class="contact-editorial">

          <a
            class="contact-item pop"
            [href]="'tel:' + siteConfig?.websiteSettings?.contactInfo?.phone | phone">
            <i class="fa-solid fa-phone info"></i>
            <span>{{ siteConfig?.websiteSettings?.contactInfo?.phone | phone }}</span>
          </a>

          <a
            class="contact-item pop"
            [href]="'mailto:' + siteConfig?.websiteSettings?.contactInfo?.email">
            <i class="fa-solid fa-envelope info"></i>
            <span>{{ siteConfig?.websiteSettings?.contactInfo?.email }}</span>
          </a>

          <a class="cta-editorial" href="#">
            Book a Showing
          </a>

        </div>
      </div>

      <div class="col-lg-4 col-12 order-1 order-lg-3 d-flex justify-content-center justify-content-lg-end">
        @if (siteConfig) {
          <a [routerLink]="['home']" class="brokerage-editorial">
            <img
              [src]="siteConfig.websiteSettings.brokerageImage ? localImageUrl + siteConfig.websiteSettings.brokerageImage : '/images/Nologo.png'"
              height="100"
              alt="Brokerage Logo" />
          </a>
        }
      </div>

    </div>
  </div>
</header>

<app-menu />
