<div
	 class="loading-container flex-content-center"
	 *ngIf="loading$ | async">
	<div class="spinner"></div>
</div>
<div *ngIf="siteConfigObservable | async as siteConfig">
	<!-- <div class="container-fluid menu_img">
		<div class="container">
			<div class="row justify-content-center">
				<p class="text fw-semibold text-white  py-5">Search Your Dream Home</p>
				<div class="col-12 bg-white pt-5 pb-4">
					<app-search
						[filters]="selectedFilters"
						[onSearch]="searchProperties" />
				</div>
			</div>
		</div>
	</div> -->
	<div
		 class="container-fluid search-container bg-light"
		 *ngIf="property">
		<div class="container py-3">
			<!-- <h2 class="fw-semibold text-start mb-3">Property Information</h2> -->
			<div class="row card p-3">
				<div class="col-12">
					<gallery
							 *ngIf="property.Media && property.Media.length > 0"
							 id="propertyGallery"
							 counter
							 thumbs
							 thumbPosition="bottom"
							 itemAutosize
							 loadingStrategy="preload"
							 loadingAttr="eager"></gallery>
					<!-- <app-gallery [images]="property.Media" /> -->
					<img
						 class="img-fluid rounded no-image-fixed-height"
						 *ngIf="property.Media ? property.Media.length == 0 : true"
						 [src]="'/images/commercial_no_Image.jpg'"
						 alt="No property image to display" />
				</div>

				<div class="row card-body align-items-center">
					<div class="col-lg-3 justify-content-center d-flex">
						<p class="fw-bold fs-3 info">
							${{ property.ListPrice }}
							<span *ngIf="property.ListPriceUnit">
								{{ property.ListPriceUnit }}
							</span>
						</p>
					</div>
					<div class="col-lg-6 justify-content-center d-flex">
						<span class="badge lable fs-6">{{ property.TransactionType }}</span>
						<h6 class="">{{ property.UnparsedAddress }}</h6>
					</div>
					<div class="col-lg-3 justify-content-center d-flex">
						<p class="fw-bold info">
							MLS#
							<span class="fw-bold text-dark pro-text">{{ property.ListingKey }}</span>
						</p>
					</div>
				</div>
				<div class="row justify-content-around">
					<div
						 class="col-md-3"
						 *ngIf="property.BedroomsTotal && property.BedroomsTotal > 0">
						<div class="border rounded p-3 text-center bg-light">
							<span class="fw-semibold">Bed:</span>
							{{ property.BedroomsTotal }}
						</div>
					</div>
					<div
						 class="col-md-3 mt-lg-0 mt-3"
						 *ngIf="property.BathroomsTotalInteger && property.BathroomsTotalInteger > 0">
						<div class="border rounded p-3 text-center bg-light">
							<span class="fw-semibold">Bath:</span>
							{{ property.BathroomsTotalInteger }}
						</div>
					</div>
					<div
						 class="col-md-3 mt-lg-0 mt-3"
						 *ngIf="property.BuildingAreaTotal && property.BuildingAreaTotal > 0">
						<div class="border rounded p-3 text-center bg-light">
							<span class="fw-semibold">Area:</span>
							{{ property.BuildingAreaTotal }} {{ property.BuildingAreaUnits }}
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-lg-8 col-12">
					<ul
						class="nav nav-underline mb-3 g-5"
						id="pills-tab"
						role="tablist">
						<li
							class="nav-item"
							role="presentation">
							<button
									class="nav-link active"
									id="pills-home-tab"
									data-bs-toggle="pill"
									data-bs-target="#pills-home"
									type="button"
									role="tab"
									aria-controls="pills-home"
									aria-selected="true">
								Description
							</button>
						</li>
						<li
							class="nav-item ms-lg-5"
							role="presentation">
							<button
									class="nav-link"
									id="pills-profile-tab"
									data-bs-toggle="pill"
									data-bs-target="#pills-profile"
									type="button"
									role="tab"
									aria-controls="pills-profile"
									aria-selected="false">
								<span><i class="fa-solid me-1 fa-location-dot"></i></span>
								View on map
							</button>
						</li>
					</ul>
					<div
						 class="tab-content"
						 id="pills-tabContent">
						<div
							 class="tab-pane fade show active"
							 id="pills-home"
							 role="tabpanel"
							 aria-labelledby="pills-home-tab"
							 tabindex="0">
							<p>{{ property.PublicRemarks }}</p>

							<!-- <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">Property SubType</h6>
                          <p class="card-text">{{property.PropertySubType}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">Property Type</h6>
                          <p class="card-text">{{property.PropertyType}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">Property Use</h6>
                          <p class="card-text">{{property.PropertyUse}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">List Office Name</h6>
                          <p class="card-text">{{property.ListOfficeName}}</p>
                        </div>
                      </div>
                    </div>
                  </div> -->

							<div class="row mt-5">
								<div class="col">
									<div class="card shadow-sm border-0 rounded-4">
										<div class="card-header head-bg text-white rounded-top-4">
											<h5 class="">Property Details</h5>
										</div>
										<div class="card-body">
											<div class="d-flex justify-content-between py-2 border-bottom">
												<span class="fw-bold">Cross Street:</span>
												<span>{{ property.CrossStreet }}</span>
											</div>
											<div class="d-flex justify-content-between py-2 border-bottom">
												<span class="fw-bold">List Contract Date:</span>
												<span>
													{{ property.ListingContractDate ? (property.ListingContractDate | date) : "No Date" }}
												</span>
											</div>
											<div class="d-flex justify-content-between py-2 border-bottom">
												<span class="fw-bold">Purchase Contract Date:</span>
												<span>
													{{
														property.PurchaseContractDate
															? (property.PurchaseContractDate | date)
															: "No Date"
													}}
												</span>
											</div>
											<div class="d-flex justify-content-between py-2">
												<span class="fw-bold">List Office Name:</span>
												<span>{{ property.ListOfficeName }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-12 col-lg-6">
									<ul class="list-group">
										<li class="list-group-item">Status: Sale</li>
										<li class="list-group-item">Type: Condo Apartment</li>
										<li class="list-group-item">Style: Apartment</li>
										<li class="list-group-item">Community: Harbourfront - Downtown Toronto</li>
									</ul>
								</div>
								<div class="col-12 col-lg-6 mt-lg-0 mt-4">
									<ul class="list-group">
										<li class="list-group-item">Bedrooms: 1 + Den</li>
										<li class="list-group-item">Bathrooms: 1 (4-piece)</li>
										<li class="list-group-item">Kitchens: 1 (Open Concept with Island)</li>
										<li class="list-group-item">Rooms: 4</li>
									</ul>
								</div>
							</div>
						</div>
						<div
							 class="tab-pane fade"
							 id="pills-profile"
							 role="tabpanel"
							 aria-labelledby="pills-profile-tab"
							 tabindex="0">
							<div class="ratio ratio-16x9">
								<google-map
											[center]="{ lat: property.Latitude, lng: property.Longitude }"
											[zoom]="zoom"
											height="500px"
											width="100%">
									<map-marker
												id="mapMarkerLarge"
												#mapMarker="mapMarker"
												[position]="{ lat: property.Latitude, lng: property.Longitude }"
												[label]="property.ListOfficeName"
												[title]="property.PropertyUse"
												(mapClick)="openInfoWindow(property, mapMarker)"></map-marker>
									<map-info-window #mapMarkerLarge>
										<div>
											<h5>{{ property.ListingKey }}</h5>
											<p>
												<b>Address:</b>
												{{ property.UnparsedAddress }}
											</p>
											<p>
												<b>Cross Street:</b>
												{{ property.CrossStreet }}
											</p>
											<p>
												<b>City:</b>
												{{ property.City }}
											</p>
											<p>
												<b>Price:</b>
												${{ property.ListPrice }}
											</p>
											<p>
												<b>Property Type:</b>
												{{ property.PropertySubType }}
											</p>
											<p>
												<b>Property Use:</b>
												{{ property.TransactionType }}
											</p>
										</div>
									</map-info-window>
								</google-map>
							</div>
						</div>
					</div>

					<div class="row mt-lg-5 mt-3 align-items-center">
						<div class="col">
							<p-accordion value="0" [multiple]="true" [activeIndex]="[1,2]">
								<p-accordion-panel value="0">
									<p-accordion-header>Amenities</p-accordion-header>
									<p-accordion-content>
										<ul class="nav nav-pills mb-3" id="custom-tab" role="tablist">
											<li class="nav-item" role="presentation">
												<button class="nav-link active" id="tab-home" data-bs-toggle="pill" data-bs-target="#content-home" type="button" role="tab"
														aria-controls="content-home" aria-selected="true"><span><i class="fa-solid fa-map-location me-1"></i></span>
													MAP</button>
											</li>
											<li class="nav-item" role="presentation">
												<button class="nav-link" id="tab-profile" data-bs-toggle="pill" data-bs-target="#content-profile" type="button" role="tab"
														aria-controls="content-profile" aria-selected="false"><span><i
														   class="fa-solid fa-school me-1"></i></span>SCHOOL</button>
											</li>
											<li class="nav-item" role="presentation">
												<button class="nav-link" id="tab-contact" data-bs-toggle="pill" data-bs-target="#content-contact" type="button" role="tab"
														aria-controls="content-contact" aria-selected="false"><span><i class="fa-solid fa-map-pin me-1"></i></span>LOACL
													AMENITIES</button>
											</li>
											<li class="nav-item" role="presentation">
												<button class="nav-link" id="tab-disabled" data-bs-toggle="pill" data-bs-target="#content-disabled" type="button" role="tab"
														aria-controls="content-disabled" aria-selected="false"><span><i class="fa-solid fa-street-view me-1"></i></span>STREET
													VIEW</button>
											</li>
										</ul>

										<div class="tab-content" id="custom-tabContent">
											<div class="tab-pane fade show active" id="content-home" role="tabpanel" aria-labelledby="tab-home" tabindex="0">...</div>
											<div class="tab-pane fade" id="content-profile" role="tabpanel" aria-labelledby="tab-profile" tabindex="0">...</div>
											<div class="tab-pane fade" id="content-contact" role="tabpanel" aria-labelledby="tab-contact" tabindex="0">...</div>
											<div class="tab-pane fade" id="content-disabled" role="tabpanel" aria-labelledby="tab-disabled" tabindex="0">...</div>
										</div>
									</p-accordion-content>
								</p-accordion-panel>

								<p-accordion-panel value="1">
									<p-accordion-header>Walk Score</p-accordion-header>
									<p-accordion-content>
										<div id='ws-walkscore-tile'></div>
									</p-accordion-content>
								</p-accordion-panel>
							</p-accordion>

							<!-- <div id='ws-walkscore-tile'></div> -->
						</div>
					</div>

					<div class="row mt-lg-5 mt-3 ">
						<ul class="nav nav-pills mb-3 " id="score-tabs" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link rounded-4 active" id="score-walk-tab" data-bs-toggle="pill" data-bs-target="#score-walk" type="button" role="tab"
										aria-controls="score-walk" aria-selected="true"><span><i class="fa-solid fa-person me-1"></i></span>Request a Showing</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="score-transit-tab" data-bs-toggle="pill" data-bs-target="#score-transit" type="button" role="tab"
										aria-controls="score-transit" aria-selected="false"><span><i class="fa-solid fa-clock-rotate-left me-1"></i></span>Property History
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="score-bike-tab" data-bs-toggle="pill" data-bs-target="#score-bike" type="button" role="tab" aria-controls="score-bike"
										aria-selected="false"><span><i class="fa-solid fa-house me-1"></i></span>Recent Sales in Area</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="score-disabled-tab" data-bs-toggle="pill" data-bs-target="#score-disabled" type="button" role="tab"
										aria-controls="score-disabled" aria-selected="false"><span><i class="fa-solid fa-circle-question me-1"></i></span>
									Have a Question?</button>
							</li>
						</ul>

						<div class="tab-content" id="score-tabs-content">
							<div class="tab-pane fade show active" id="score-walk" role="tabpanel" aria-labelledby="score-walk-tab" tabindex="0">
								<form class="form-card bg-white" [formGroup]="requestShowingForm" (ngSubmit)="submitRequestShowingForm()">
									<p>
										Interested in viewing a property? Need more information? Fill out the form below and you will be contacted shortly. Thank you for your
										interest. Your business is appreciated!
									</p>
									<mat-form-field appearance="fill">
										<mat-label class="info">Name</mat-label>
										<input formControlName="name" required matInput placeholder="Name" />
										<span class="error" *ngIf="requestShowingName?.invalid && (requestShowingName?.dirty || requestShowingName?.touched)">
											<span *ngIf="requestShowingName?.errors?.['required']">Name is required</span>
										</span>
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Email</mat-label>
										<input class="w-100" type="email" formControlName="email" required email matInput placeholder="Ex. pat@example.com" />
										<span class="error" *ngIf="requestShowingEmail?.invalid && (requestShowingEmail?.dirty || requestShowingEmail?.touched)">
											<span *ngIf="requestShowingEmail?.errors?.['required']">Name is required</span>
											<span *ngIf="requestShowingEmail?.errors?.['email']">Please enter a valid email address</span>
										</span>
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Phone Number</mat-label>
										<input type="tel" formControlName="phone" matInput placeholder="Ex. 123-456-1234" />
										<span class="error" *ngIf="requestShowingPhone?.invalid && (requestShowingPhone?.dirty || requestShowingPhone?.touched)">
											<span *ngIf="requestShowingPhone?.errors?.['required']">Phone number is required</span>
											<span *ngIf="requestShowingPhone?.errors?.['pattern']">Please enter a valid phone number</span>
										</span>
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Leave a comment</mat-label>
										<textarea formControlName="message" class="form-control" rows="4" matInput
												  placeholder="Ex. Enter your request about this property"></textarea>
										<span
											  class="error"
											  *ngIf="requestShowingMessage?.invalid && (requestShowingMessage?.dirty || requestShowingMessage?.touched)">
											<span *ngIf="requestShowingMessage?.errors?.['required']">Comment is required</span>
										</span>
									</mat-form-field>
									<p class="mb-0 fw-semibold">I am</p>
									<div class="d-flex flex-wrap gap-2 py-3">
										@for(type of userTypes; track $index){
										<input type="radio" class="btn-check radio_btn" formControlName="userType" [id]="type.value" [value]="type.value" required>
										<label class="btn  rounded-pill" [for]="type.value">{{type.title}}</label>
										}
									</div>
									<button type="submit" class="btn search_btn w-100 fw-bold">Send</button>
								</form>
							</div>

							<div class="tab-pane fade" id="score-transit" role="tabpanel" aria-labelledby="score-transit-tab" tabindex="0">
								<form class="form-card bg-white" [formGroup]="propertyHistoryForm" (ngSubmit)="submitPropertyHistoryForm()">
									<p>
										Every property has a history. If you’re interested in knowing all the details, fill out this form to receive a comprehensive report.
									</p>
									<mat-form-field appearance="fill">
										<mat-label class="info">Name</mat-label>
										<input formControlName="name" required matInput placeholder="Name" />
										<mat-error>Name is required</mat-error>
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Email</mat-label>
										<input class="w-100" type="email" formControlName="email" required email matInput placeholder="Ex. pat@example.com" />
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Phone Number</mat-label>
										<input type="tel" formControlName="phone" matInput placeholder="Ex. 123-456-1234" />

									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Leave a comment</mat-label>
										<textarea formControlName="message" class="form-control" rows="4" matInput
												  placeholder="Ex. Enter your request about this property"></textarea>
									</mat-form-field>
									<p class="mb-0 fw-semibold">I am</p>
									<div class="d-flex flex-wrap gap-2 py-3">
										@for(type of userTypes; track $index){
										<input type="radio" class="btn-check radio_btn" formControlName="userType" [id]="type.value" [value]="type.value" required>
										<label class="btn  rounded-pill" [for]="type.value">{{type.title}}</label>
										}
									</div>
									<button type="submit" class="btn search_btn w-100 fw-bold">
										Send
									</button>
								</form>
							</div>

							<div class="tab-pane fade" id="score-bike" role="tabpanel" aria-labelledby="score-bike-tab" tabindex="0">
								<form class="form-card bg-white" [formGroup]="recentSaleInAreaForm" (ngSubmit)="submitRecentSalesInAreaForm()">
									<p>
										The key to placing a competitive offer is an accurate picture of the current real estate market. Enter your contact information to receive a
										detailed price comparison of this
										property against other comparable listings and recent sales in the surrounding areas.
									</p>
									<mat-form-field appearance="fill">
										<mat-label class="info">Name</mat-label>
										<input formControlName="name" required matInput placeholder="Name" />
										<mat-error>Name is required</mat-error>
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Email</mat-label>
										<input class="w-100" type="email" formControlName="email" required email matInput placeholder="Ex. pat@example.com" />
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Phone Number</mat-label>
										<input type="tel" formControlName="phone" matInput placeholder="Ex. 123-456-1234" />

									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Leave a comment</mat-label>
										<textarea formControlName="message" class="form-control" rows="4" matInput
												  placeholder="Ex. Enter your request about this property"></textarea>
									</mat-form-field>
									<p class="mb-0 fw-semibold">I am</p>
									<div class="d-flex flex-wrap gap-2 py-3">
										@for(type of userTypes; track $index){
										<input type="radio" class="btn-check radio_btn" formControlName="userType" [id]="type.value" [value]="type.value" required>
										<label class="btn  rounded-pill" [for]="type.value">{{type.title}}</label>
										}
									</div>
									<button type="submit" class="btn search_btn w-100 fw-bold">
										Send
									</button>
								</form>
							</div>

							<div class="tab-pane fade" id="score-disabled" role="tabpanel" aria-labelledby="score-disabled-tab" tabindex="0">
								<form class="form-card bg-white" [formGroup]="haveQuestionForm" (ngSubmit)="submitHaveQuestionForm()">
									<mat-form-field appearance="fill">
										<mat-label class="info">Name</mat-label>
										<input formControlName="name" required matInput placeholder="Name" />
										<mat-error>Name is required</mat-error>
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Email</mat-label>
										<input class="w-100" type="email" formControlName="email" required email matInput placeholder="Ex. pat@example.com" />
									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Phone Number</mat-label>
										<input type="tel" formControlName="phone" matInput placeholder="Ex. 123-456-1234" />

									</mat-form-field>
									<mat-form-field appearance="fill">
										<mat-label class="info">Leave a comment</mat-label>
										<textarea formControlName="message" class="form-control" rows="4" matInput
												  placeholder="Ex. Enter your request about this property"></textarea>
									</mat-form-field>
									<p class="mb-0 fw-semibold">I am</p>
									<div class="d-flex flex-wrap gap-2 py-3">
										@for(type of userTypes; track $index){
										<input type="radio" class="btn-check radio_btn" formControlName="userType" [id]="type.value" [value]="type.value" required>
										<label class="btn  rounded-pill" [for]="type.value">{{type.title}}</label>
										}
									</div>
									<button type="submit" class="btn search_btn w-100 fw-bold">
										Send
									</button>
								</form>
							</div>
						</div>

					</div>

					<div class="row mt-lg-5 mt-3">
						<div class="col-12 col-lg-6">
							<h5 class="info">Property Details</h5>
							<ul class="list-group">
								<li class="list-group-item">Status: Sale</li>
								<li class="list-group-item">Type: Condo Apartment</li>
								<li class="list-group-item">Style: Apartment</li>
								<li class="list-group-item">Community: Harbourfront - Downtown Toronto</li>
							</ul>
						</div>
						<div class="col-12 col-lg-6 mt-3 mt-lg-0">
							<h5 class="info">Inside Details</h5>
							<ul class="list-group">
								<li class="list-group-item">Bedrooms: 1 + Den</li>
								<li class="list-group-item">Bathrooms: 1 (4-piece)</li>
								<li class="list-group-item">Kitchens: 1 (Open Concept with Island)</li>
								<li class="list-group-item">Rooms: 4</li>
							</ul>
						</div>
					</div>


					<div class="row mt-lg-5 mt-3">
						<div class="col-12 col-lg-6">
							<h5 class="info">Parking & Storage</h5>
							<ul class="list-group">
								<li class="list-group-item">Parking Included: Yes (1 Underground Spot)</li>
								<li class="list-group-item">Locker Included: Yes (Level P2)</li>
								<li class="list-group-item">Bike Storage: Available</li>
							</ul>
						</div>
						<div class="col-12 col-lg-6 mt-3 mt-lg-0">
							<h5 class="info">Fees & Utilities</h5>
							<ul class="list-group">
								<li class="list-group-item">Maintenance Fees: $482.65/month</li>
								<li class="list-group-item">Includes: Water, Heat, CAC, Building Insurance</li>
								<li class="list-group-item">Hydro: Not Included</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12 mt-4 mt-lg-0">
					<div class="card shadow">
						<div class="card-body">
							<h5 class="card-title mb-3">Ask About this Home</h5>
							<p class="text-muted small">
								Learn more by viewing our
								<a
								   href="#"
								   class="text-decoration-none info fw-semibold">
									privacy policy
								</a>
								or
								<a
								   href="#"
								   class="text-decoration-none info fw-semibold">
									contact us
								</a>
								.
							</p>
							h12
							<form
								  [formGroup]="contactForm"
								  name="userForm">
								<mat-form-field appearance="fill">
									<mat-label class="info">First Name</mat-label>
									<input
										   formControlName="name"
										   required
										   matInput
										   placeholder="Name" />
									<mat-error>First name is required</mat-error>
								</mat-form-field>
								<mat-form-field appearance="fill">
									<mat-label class="info">Email</mat-label>
									<input
										   class="w-100"
										   type="email"
										   formControlName="email"
										   required
										   email
										   matInput
										   placeholder="Ex. pat@example.com" />
								</mat-form-field>
								<mat-form-field appearance="fill">
									<mat-label class="info">Phone Number</mat-label>
									<input
										   type="tel"
										   formControlName="phone"
										   matInput
										   placeholder="Ex. 123-456-1234" />
								</mat-form-field>
								<mat-form-field appearance="fill">
									<mat-label class="info">Leave a comment</mat-label>
									<textarea
											  formControlName="message"
											  class="form-control"
											  rows="4"
											  matInput
											  placeholder="Ex. Enter comment about this property"></textarea>
									<mat-error>Comment is required</mat-error>
								</mat-form-field>
								<p class="mb-0 fw-semibold">I am</p>
								<div class="d-flex flex-wrap gap-2 py-3">
									@for(type of userTypes; track $index){
									<input type="radio" class="btn-check radio_btn" formControlName="userType" [id]="type.value" [value]="type.value" required>
									<label class="btn  rounded-pill" [for]="type.value">{{type.title}}</label>
									}
								</div>
								<button
										class="btn search_btn w-100 fw-bold"
										(click)="save()">
									Save
								</button>
							</form>
						</div>
					</div>
					<div class="py-4">
						<div class="card shadow border-0 rounded-3 mb-2">
							<div class="row align-items-center p-3">
								<div class="col-4">
									<div class="">
										<img
											 [src]="
												siteConfig?.websiteSettings?.profileImage
													? siteConfig?.websiteSettings?.profileImage
													: '/images/Nologo.png'
											"
											 alt=""
											 height="120px" />
									</div>
								</div>

								<div class="col-8">
									<div class="card-body">
										<h6 class="text-muted mb-0">PRESENTED BY</h6>
										<h5 class="card-title info mt-1">{{ siteConfig?.firstName }} {{ siteConfig?.lastName }}</h5>
										<p class="card-text mb-2 text-secondary small">Agent</p>
										<div class="text-muted small">
											<p class="mb-1">Email: {{ siteConfig?.websiteSettings?.contactInfo?.email }}</p>
											<p class="mb-0">Call: {{ siteConfig?.websiteSettings?.contactInfo?.phone | phone }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							 class="card shadow border-0 rounded-3"
							 *ngIf="siteConfig?.secondaryAgent">
							<div class="row align-items-center p-3">
								<div class="col-4">
									<div class="">
										<img
											 [src]="
												siteConfig?.secondaryAgent?.profileImage
													? siteConfig?.secondaryAgent?.profileImage
													: '/images/Nologo.png'
											"
											 alt=""
											 height="120px" />
									</div>
								</div>

								<div class="col-8">
									<div class="card-body">
										<h6 class="text-muted mb-0">PRESENTED BY</h6>
										<h5 class="card-title info mt-1">
											{{ siteConfig?.secondaryAgent?.firstName }} {{ siteConfig?.secondaryAgent?.lastName }}
										</h5>
										<p class="card-text mb-2 text-secondary small">Agent</p>
										<div class="text-muted small">
											<p class="mb-1">Email: {{ siteConfig?.secondaryAgent?.websiteEmail }}</p>
											<p class="mb-0">Call: {{ siteConfig?.secondaryAgent?.websitePhone | phone }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						 id="map"
						 class="">
						<google-map
									[center]="{ lat: property.Latitude, lng: property.Longitude }"
									[zoom]="zoom"
									style="width: 100%; height: 100%">
							<map-marker
										id="mapMarkerSmall"
										#mapMarkerSmall="mapMarker"
										[position]="{ lat: property.Latitude, lng: property.Longitude }"
										[label]="property.ListOfficeName"></map-marker>

							<map-info-window #mapMarkerSmall>
								<div>
									<h5>{{ property.ListingKey }}</h5>
									<p>
										<b>Address:</b>
										{{ property.UnparsedAddress }}
									</p>
									<p>
										<b>Cross Street:</b>
										{{ property.CrossStreet }}
									</p>
									<p>
										<b>City:</b>
										{{ property.City }}
									</p>
									<p>
										<b>Price:</b>
										${{ property.ListPrice }}
									</p>
									<p>
										<b>Property Type:</b>
										{{ property.PropertySubType }}
									</p>
									<p>
										<b>Property Use:</b>
										{{ property.TransactionType }}
									</p>
								</div>
							</map-info-window>
						</google-map>
					</div>
				</div>
			</div>

			<!--<button
					type="button"
					(click)="back()"
					class="btn w-25 mt-3 search_btn">
				Back
			</button> -->
		</div>
	</div>
</div>