.loading-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }

  #map{

    .map-container{
      height: 214px !important;
      width: 406px !important;
      border-radius: 7px !important;
    }
  }

  span{
    font-size: 14px !important;
  }
  li{
    font-size: 14px;
  }

  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #198754; /* Spinner color */
    border-radius: 50%;
    width: 100px; /* Spinner size */
    height: 100px; /* Spinner size */
    animation: spin 1s linear infinite; /* Spin animation */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  p{
    font-size: 14px !important;
  }

  h2 {
    text-align: center;
  }
  
  // .carousel {
  //   max-width: 400px;
  //   margin: 0 auto;
  // }
  
  .carousel img {
    width: 100%;
  }
  .carousel .carousel-inner{
    margin-bottom: 20px !important;
  }

  .green{
    box-shadow: #95d8b9 0px 20px 30px -10px;
  }
  // .card_hover:hover {
  //   transform: translateY(-15px);
  // }

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  top: 21% !important;
  padding-top: 1.25rem;
  bottom: 20% !important;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

  .fixed-height {
    height: 400px; /* Adjust height as needed */
    width: 100%; 
    border: 1px solid #ddd;
    object-fit: cover;
  }

  .no-image-fixed-height {
    width: 30%; 
    border: 1px solid #ddd;
  }
  
  