  <div class="loading-container flex-content-center" *ngIf="loading$ | async">
		<div class="spinner">
		</div>  
	</div> 
  <div class="container-fluid menu_img">
		<div class="container">
			<div class="row justify-content-center">
				<!-- <p class="text fw-semibold text-white  py-5">Search Your Dream Home</p> -->
				<div class="col-12 bg-white pt-5 pb-4">
					<app-search [filters]="selectedFilters" [onSearch]="searchProperties" />
				</div>
			</div>
		</div>
	</div>
    <div class="container-fluid search-container" *ngIf="property">
        <div class="container py-3">    
          <h2 class="fw-semibold text-start mb-3">Property Information</h2>
          <div class="row card p-3">
            <div class="col-12">
              <gallery *ngIf="property.Media ? property.Media.length > 0 : false" id="myGallery" counter thumbs thumbPosition="bottom" itemAutosize
              loadingStrategy="preload"
              loadingAttr="eager" />
                  <!-- <ngb-carousel [pauseOnHover]="true" (slide)="1" [wrap]="true" class="">
                    <ng-template ngbSlide style="margin-bottom: 20px;" *ngFor="let image of property.Media">
                      <div class="wrapper text-center h-100">
                        <img [src]="image.Media_url" class="img-fluid rounded fixed-height" alt="No Image" />
                      </div>
                    </ng-template>
                  </ngb-carousel>-->
                  <img class="img-fluid rounded no-image-fixed-height" *ngIf="property.Media ? property.Media.length == 0 : true" [src]="'/images/commercial_no_Image.jpg'" alt="No property image to display">
            </div>
          <div class="row card-body align-items-center">
            <div class="col-lg-3 justify-content-center d-flex">
              <p class="fw-bold fs-3 info">${{property.ListPrice}}<span *ngIf="property.ListPriceUnit"> {{property.ListPriceUnit}}</span></p>
            </div>
            <div class="col-lg-6 justify-content-center d-flex">
              <span class="badge lable fs-6">{{property.TransactionType}}</span>
              <h6 class="">{{property.UnparsedAddress}}</h6>
            </div>
            <div class="col-lg-3 justify-content-center d-flex">
              <p class="fw-bold info">MLS# <span class="fw-bold text-dark pro-text">{{property.ListingKey}}</span></p>
             </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-md-3" *ngIf="property.BedroomsTotal && property.BedroomsTotal > 0">
              <div class="border rounded p-3 text-center bg-light">
               <span class="fw-semibold">Bed:</span> {{property.BedroomsTotal}}
              </div>
            </div>
            <div class="col-md-3 mt-lg-0 mt-3"  *ngIf="property.BathroomsTotalInteger && property.BathroomsTotalInteger > 0">
              <div class="border rounded p-3 text-center bg-light">
                <span class="fw-semibold">Bath:</span> {{property.BathroomsTotalInteger}}
              </div>
            </div>
            <div class="col-md-3 mt-lg-0 mt-3" *ngIf="property.BuildingAreaTotal && property.BuildingAreaTotal > 0">
              <div class="border rounded p-3 text-center bg-light">
                <span class="fw-semibold">Area:</span> {{property.BuildingAreaTotal}} {{property.BuildingAreaUnits}}
              </div>
            </div>
          </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-8 col-12">
              <ul class="nav nav-underline mb-3 g-5" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Description</button>
                </li>
                <li class="nav-item ms-lg-5" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><span><i class="fa-solid me-1 fa-location-dot"></i></span>View on map</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                  <p>{{property.PublicRemarks}}</p>
                  <!-- <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">Property SubType</h6>
                          <p class="card-text">{{property.PropertySubType}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">Property Type</h6>
                          <p class="card-text">{{property.PropertyType}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">Property Use</h6>
                          <p class="card-text">{{property.PropertyUse}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-2 shadow-sm">
                        <div class="card-body ">
                          <h6 class="card-title info">List Office Name</h6>
                          <p class="card-text">{{property.ListOfficeName}}</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                 
                  <div class="row mt-5 ">
                    <div class="col">
                        <div class="card shadow-sm border-0 rounded-4">
                          <div class="card-header head-bg text-white rounded-top-4">
                            <h5 class="">Property Details</h5>
                          </div>
                          <div class="card-body">
                            <div class="d-flex justify-content-between py-2 border-bottom">
                              <span class="fw-bold">Cross Street:</span>
                              <span>{{property.CrossStreet}}</span>
                            </div>
                            <div class="d-flex justify-content-between py-2 border-bottom">
                              <span class="fw-bold">List Contract Date:</span>
                              <span>{{property.ListingContractDate ? (property.ListingContractDate | date) : "No Date"}}</span>
                            </div>
                            <div class="d-flex justify-content-between py-2 border-bottom">
                              <span class="fw-bold">Purchase Contract Date:</span>
                              <span>{{property.PurchaseContractDate ? (property.PurchaseContractDate | date) : "No Date"}}</span>
                            </div>
                            <div class="d-flex justify-content-between py-2">
                              <span class="fw-bold">List Office Name:</span>
                              <span>{{property.ListOfficeName}}</span>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <ul class="list-group">
                        <li class="list-group-item">Status: Sale</li>
                        <li class="list-group-item">Type: Condo Apartment</li>
                        <li class="list-group-item">Style: Apartment</li>
                        <li class="list-group-item">Community: Harbourfront - Downtown Toronto</li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="list-group">
                        <li class="list-group-item">Bedrooms: 1 + Den</li>
                        <li class="list-group-item">Bathrooms: 1 (4-piece)</li>
                        <li class="list-group-item">Kitchens: 1 (Open Concept with Island)</li>
                        <li class="list-group-item">Rooms: 4</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                  <div class="ratio ratio-16x9">
                      <google-map [center]="{lat:property.Latitude, lng:property.Longitude}" [zoom]="zoom" height="500px" width="100%">
                        <map-marker id="mapMarkerLarge"
                          #mapMarker="mapMarker"
                          [position]="{lat:property.Latitude, lng:property.Longitude}"
                          [label]="property.ListOfficeName"
                          [title]="property.PropertyUse"
                          (mapClick)="openInfoWindow(property, mapMarker)"></map-marker>
                        <map-info-window #mapMarkerLarge>
                          <div>
                            <h5>{{property.ListingKey}}</h5>
                            <p><b>Address:</b> {{property.UnparsedAddress}}</p>
                            <p><b>Cross Street:</b> {{property.CrossStreet}}</p>
                            <p><b>City:</b> {{property.City}}</p>
                            <p><b>Price:</b> ${{property.ListPrice}}</p>
                            <p><b>Property Type:</b> {{property.PropertySubType}}</p>
                            <p><b>Property Use:</b> {{property.TransactionType}}</p>
                          </div>
                        </map-info-window>
                      </google-map>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                <div class="card shadow">
                  <div class="card-body">
                    <h5 class="card-title mb-3">Ask About this Home</h5>
                    <p class="text-muted small">
                      Learn more by viewing our <a href="#" class="text-decoration-none info fw-semibold">privacy policy</a> or <a href="#" class="text-decoration-none info fw-semibold">contact us</a>.
                    </p>
                    <form [formGroup]="userForm" name="userForm" *ngIf="userForm">
                      <mat-form-field appearance="fill">
                        <mat-label class="info">First Name</mat-label>
                        <input formControlName="firstName" required matInput placeholder="First Name" />
                        <mat-error>First name is required</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label class="info">Email</mat-label>
                        <input class="w-100" type="email" formControlName="emailAddress" required email matInput placeholder="Ex. pat@example.com" />
                        @if (userForm.hasError('email', 'emailAddress') && !userForm.hasError('required', 'emailAddress')) {
                         <mat-error>Please enter a valid email address</mat-error>
                        }
                       @if (userForm.hasError('required', 'emailAddress')) {
                         <mat-error>Email is required</mat-error>
                        }
                      </mat-form-field>
                      <mat-form-field appearance="fill">                
                        <mat-label class="info">Phone Number</mat-label>
                        <input type="tel" formControlName="phoneNumber" matInput  placeholder="Ex. 123-456-1234" />
                        @if (userForm.hasError('pattern', 'phoneNumber')) {
                          <mat-error>Please enter a valid phone number</mat-error>
                         }
                         @if (userForm.hasError('required', 'phoneNumber')) {
                          <mat-error>Phone number is required</mat-error>
                        }
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label class="info">Leave a comment</mat-label>
                        <textarea formControlName="comment" class="form-control" rows="4" matInput placeholder="Ex. Enter comment about this property"></textarea>
                        <mat-error>Comment is required</mat-error>
                      </mat-form-field>
                      <button class="btn search_btn w-100 fw-bold" (click)="save()">Save</button>
                    </form>
                  </div>
                </div>
               
            </div>
          </div>
          <div class="row mt-5 align-items-center">
            <div class="col-lg-4 col-12">
            <h5 class=" info">Building Features</h5>
            <ul class="list-group">
              <li class="list-group-item">Year Built: 2018</li>
              <li class="list-group-item">Building Name: AquaView Residences</li>
              <li class="list-group-item">Floors in Building: 36</li>
              <li class="list-group-item">Elevators: 3</li>
              <li class="list-group-item">Security: 24/7 Concierge</li>
            </ul>
          </div>

          <div class="col-lg-4 col-12">
            <h5 class=" info">Amenities</h5>
            <ul class="list-group">
              <li class="list-group-item">Fitness Centre</li>
              <li class="list-group-item">Indoor Pool & Sauna</li>
              <li class="list-group-item">Party Room</li>
              <li class="list-group-item">Visitor Parking</li>
              <li class="list-group-item">Rooftop Terrace</li>
            </ul>
          </div>
           <div class="col-lg-4 col-12">

<div id="map" >
  <google-map
    [center]="{lat:property.Latitude, lng:property.Longitude }"
    [zoom]="zoom"
    style="width:100%; height:100%;"
  >
    <map-marker
      id="mapMarkerSmall"
      #mapMarkerSmall="mapMarker"
      [position]="{ lat: property.Latitude, lng: property.Longitude }"
      [label]="property.ListOfficeName"
    ></map-marker>
    
    <map-info-window #mapMarkerSmall>
      <div>
        <h5>{{ property.ListingKey }}</h5>
        <p><b>Address:</b> {{ property.UnparsedAddress }}</p>
        <p><b>Cross Street:</b> {{ property.CrossStreet }}</p>
        <p><b>City:</b> {{ property.City }}</p>
        <p><b>Price:</b> ${{ property.ListPrice }}</p>
        <p><b>Property Type:</b> {{ property.PropertySubType }}</p>
        <p><b>Property Use:</b> {{ property.TransactionType }}</p>
      </div>
    </map-info-window>
  </google-map>
</div>
</div>

        </div>
          <!-- <div class="row mt-5 ">
            <div class="col">
                <div class="card shadow-sm border-0 rounded-4">
                  <div class="card-header head-bg text-white rounded-top-4">
                    <h5 class="">Property Details</h5>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between py-2 border-bottom">
                      <span class="fw-bold">Cross Street:</span>
                      <span>{{property.CrossStreet}}</span>
                    </div>
                    <div class="d-flex justify-content-between py-2 border-bottom">
                      <span class="fw-bold">List Contract Date:</span>
                      <span>{{property.ListingContractDate ? (property.ListingContractDate | date) : "No Date"}}</span>
                    </div>
                    <div class="d-flex justify-content-between py-2 border-bottom">
                      <span class="fw-bold">Purchase Contract Date:</span>
                      <span>{{property.PurchaseContractDate ? (property.PurchaseContractDate | date) : "No Date"}}</span>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                      <span class="fw-bold">List Office Name:</span>
                      <span>{{property.ListOfficeName}}</span>
                    </div>
                  </div>
                </div>
            </div>
          </div> -->
          <div class="container mt-5">
            <div class="row">
              <div class="col">
                <h5 class=" info">Property Details</h5>
                <ul class="list-group">
                  <li class="list-group-item">Status: Sale</li>
                  <li class="list-group-item">Type: Condo Apartment</li>
                  <li class="list-group-item">Style: Apartment</li>
                  <li class="list-group-item">Community: Harbourfront - Downtown Toronto</li>
                </ul>
              </div>
              <div class="col">
                <h5 class=" info">Inside Details</h5>
                <ul class="list-group">
                  <li class="list-group-item">Bedrooms: 1 + Den</li>
                  <li class="list-group-item">Bathrooms: 1 (4-piece)</li>
                  <li class="list-group-item">Kitchens: 1 (Open Concept with Island)</li>
                  <li class="list-group-item">Rooms: 4</li>
                </ul>
              </div>
            </div>
       
          <div class="row mt-5">
            <div class="col">
              <h5 class=" info">Building Features</h5>
              <ul class="list-group">
                <li class="list-group-item">Year Built: 2018</li>
                <li class="list-group-item">Building Name: AquaView Residences</li>
                <li class="list-group-item">Floors in Building: 36</li>
                <li class="list-group-item">Elevators: 3</li>
                <li class="list-group-item">Security: 24/7 Concierge</li>
              </ul>
            </div>
            <div class="col">
              <h5 class=" info">Amenities</h5>
              <ul class="list-group">
                <li class="list-group-item">Fitness Centre</li>
                <li class="list-group-item">Indoor Pool & Sauna</li>
                <li class="list-group-item">Party Room</li>
                <li class="list-group-item">Visitor Parking</li>
                <li class="list-group-item">Rooftop Terrace</li>
              </ul>
            </div>
          </div>
          
          <div class="row mt-5">
            <div class="col">
              <h5 class=" info">Parking & Storage</h5>
              <ul class="list-group">
                <li class="list-group-item">Parking Included: Yes (1 Underground Spot)</li>
                <li class="list-group-item">Locker Included: Yes (Level P2)</li>
                <li class="list-group-item">Bike Storage: Available</li>
              </ul>
            </div>
            <div class="col">
              <h5 class=" info">Fees & Utilities</h5>
              <ul class="list-group">
                <li class="list-group-item">Maintenance Fees: $482.65/month</li>
                <li class="list-group-item">Includes: Water, Heat, CAC, Building Insurance</li>
                <li class="list-group-item">Hydro: Not Included</li>
              </ul>
            </div>
          </div>
            </div>
          
            
          <button type="button" (click)="back()" class="btn w-25 mt-3 search_btn">Back</button>
        </div>
    </div>
