<div class="background-container">
	<div class="container pt-5 search-container">

		<div class="row justify-content-around align-items-center">
		  <div class="col-12 col-lg-6 ">
			<div class="">

				<img class="position-absolute man hide-on-mobile" src="/t5/images/man.png" alt="">
				<div class="card position-absolute hide-on-mobile man-card " style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-head text-white mb-0">PERSON NAME</h5>
					<p class="card-text text-white ">SALES REPRESENTATIVE</p>
					<div class=" d-flex">
					  <div class="">
						<img src="./style/images/vector img/call.svg" alt="" />
					  </div>
					  <div class="ms-2">
						<p>
						  <a
							class="text-white fw-semibold text-decoration-none"
							href="tel:+4733378901"
							>+47 333 78 901</a
						  >
						</p>
					  </div>
					</div>
					<div class="d-flex ">
					  <div class="">
						<img src="./style/images/vector img/mail.svg" alt="" />
					  </div>
					  <div class="ms-2">
						<p>
						  <a
							class="text-white fw-semibold text-decoration-none"
							href="mailto:someoneexample.com"
							>democc.com
						  </a>
						</p>
					  </div>
					</div>
				  </div>
				</div>
				  
					  </div>
		  </div>
		  <div class="col-12 col-lg-4 ">
			<div class="">

				<img class="position-absolute man2 hide-on-mobile" src="/t5/images/man2.png" alt="">
				<div class="card position-absolute hide-on-mobile man-card2 " style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-head text-white mb-0">PERSON NAME</h5>
					<p class="card-text text-white ">SALES REPRESENTATIVE</p>
					<div class=" d-flex">
					  <div class="">
						<img src="./style/images/vector img/call.svg" alt="" />
					  </div>
					  <div class="ms-2">
						<p>
						  <a
							class="text-white fw-semibold text-decoration-none"
							href="tel:+4733378901"
							>+47 333 78 901</a
						  >
						</p>
					  </div>
					</div>
					<div class="d-flex ">
					  <div class="">
						<img src="./style/images/vector img/mail.svg" alt="" />
					  </div>
					  <div class="ms-2">
						<p>
						  <a
							class="text-white fw-semibold text-decoration-none"
							href="mailto:someoneexample.com"
							>democc.com
						  </a>
						</p>
					  </div>
					</div>
				  </div>
				</div>
				  
					  </div>           
		  </div>

		
		</div>
	  </div>
  </div>


  <div class="container-fluid sec-3 py-5">
	<div class="container ">
		<div class="row p-lg-4 p-3 ">
			<p class="text mb-0 fw-semibold">
				"Enjoy a clear and simple home-buying experience"
			</p>
			<div class="col">
				<p class="estate text-center">Real Estate Specialist Name</p>
				<p class="text-center fw-semibold">
					I believe every client has the right to be treated fairly,
					honestly and with integrity. My aim is to educate and prepare my
					clients to insure that they are always in a position to make
					informed decisions.Every engagement is an opportunity to create a
					lasting impression and a forever client. Acharya is a well serving
					in real estate with the reputation of providing quality services
					and keeping excellent relations with the clients. My intend to
					provide our clients with the best personalized real estate
					experience from beginning to end. I enjoy sharing my expertise by
					giving you the scoop on the local real estate market. My aim is to
					guide & prepare our clients to ensure that they are always in a
					position to make informed decision. I put our client’s interest
					above everything. I am professionally trained and licensed
					realtors who work for seeking to experience satisfaction and feel
					good emotionss.
				</p>
			</div>
		</div>
	</div>
</div>

	<div class="container-fluid menu_img pt-2 search-container">
	<div class="container">
		<div class="row justify-content-center">
			<p class="text fs-1 text-white fw-semibold pt-3">Search Your Dream Home</p>
			<div class="col-12 bg-white p-4 mb-5">
				<app-search [onSearch]="searchProperties" />
			</div>
		</div>
	</div>
</div>


<div class="container py-lg-5 p-lg-0 p-4">
	<div class="row align-items-center justify-content-around">
	  <div class="col-lg-4 col-12">
		<h1 class="fs-2 fw-semibold">
		  Find Properties in These Cities
		</h1>
	  <a class="btn btn-orange" href="#">View More</a>
	  </div>
	  
	  <div class="col-lg-6 col-12 mt-3 mt-lg-0">
		<div class="row row-cols-2">
		  <div class="col mb-3">
			<img src="./t5/images/prop-1.png" alt="prop" class="img-fluid">
		  </div>
		  <div class="col mb-3">
			<img src="./t5/images/prop-2.png" alt="prop" class="img-fluid">
		  </div>
		  <div class="col">
			<img src="./t5/images/prop-3.png" alt="prop" class="img-fluid">
		  </div>
		  <div class="col">
			<img src="./t5/images/prop-4.png" alt="prop" class="img-fluid">
		  </div>
		</div>
		
	  </div>
	</div>
  
  </div>




<div class="container-fluid sec-3">
	<div class="container pb-5">
		<p class="text text-center mb-0 fw-semibold">Featured Properties</p>
		<app-featured-properties />
	</div>
</div>



<div class="container-fluid sec-4">
	<div class="container">
		<div class="row py-lg-5 p-lg-0 p-4 align-items-center justify-content-center">
			<div class="col-lg-8 col-12">
				<p class="worth">
					WHAT’S YOUR HOME <br />
					REALLY WORTH?
				</p>
				<p class="text-white">
					Type your address below to find out how much your <br />
					property is worth.
				</p>
			</div>
			<div class="col-lg-4 col-12">
				<div class="input-group mb-3">
					<input type="text" class="form-control email" placeholder="Email address.." aria-label="Username"
						aria-describedby="basic-addon1" />
				</div>
				<button type="button" class="btn btn-light w-100 submit fw-semibold">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>