$info: #1EA69A;

.image-label {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  width: 230px;
  text-align: center;
}
.image-label2 {
  bottom: 240px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  width: 230px;
  text-align: center;
}

  .background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/t5/images/banner.jpg');
    background-size: cover;
    background-position: center;
  }
  .overlay-image {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 350px;
  }

  .sec-3{
    background-color: #FFF2EB;
  }
  .btn_outline{
    border: $info 1px solid !important;
    color: $info;
  }
  .btn_outline:hover{
    border: $info 1px solid !important;
    background-color: $info;
    color: white;
  }
  .menu_img{
    background-image: url('/t5/images/menu.png');
    background-size: cover;
}

.btn-orange{
  color: #ffffff;
  background-color: #E86822;
  border-radius: 0px;
}

.man{
  left: 246px;
    bottom: 0px;
}

.man2{
  right: 246px;
  bottom: 0px;
}

.man-card{
  bottom: 40px;
  left: 246px;
  background-color: #00000066;
  backdrop-filter: blur(2px);
  border: 1px solid #FFFFFF;
}

.man-card2{
  bottom: 40px;
  right: 246px;
  background-color: #00000066;
  backdrop-filter: blur(2px);
  border: 1px solid #FFFFFF;
}

@media (max-width: 767px) {
  .man{
    left: 60px;
    bottom: 400px;
  }

  .man-card{
    bottom: 40px;
    left: 50px;
    background-color: #00000066;
    backdrop-filter: blur(2px);
    border: 1px solid #FFFFFF;
  }
  
  
  .man2{
    right: 78px;
    bottom: 0px;
  }
  .man-card2{
    bottom: 40px;
    right: 85px;
    background-color: #00000066;
    backdrop-filter: blur(2px);
    border: 1px solid #FFFFFF;
  }

}
