.home-bg {
	background: url("/images/bg-1.jpeg") no-repeat center center/cover;
	min-height: 100vh;
	position: relative;
	color: #fff;
}
.bg-overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
}
