h2 {
    text-align: center;
  }
  
  .carousel {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .carousel img {
    width: 100%;
  }
  .carousel .carousel-inner{
    margin-bottom: 20px !important;
  }