<div class="container-fluid">
  <div class="container">

    <h1 class="text-center pt-2">Choose Template</h1>
    <div class="row py-5">
      <div class="col-lg-12">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col" *ngFor="let template of templates">
            <ngb-carousel [pauseOnHover]="true" (slide)="1" class="shadow-lg bg-body-secondary">
              <ng-template ngbSlide style="margin-bottom: 20px;" *ngFor="let image of template.Images">
                <div class="wrapper text-center">
                  <img [src]="image" class="img-fluid rounded shadow" alt="No Image" />
                </div>
                <div class="carousel-caption bg-dark bg-opacity-50 p-3 rounded">
                  <h3>{{ template.TemplateName }}</h3>
                  <p>{{ template.Description }}</p>
                  <button
                    [ngClass]="template.IsSelected ? 'btn btn-success' : 'btn btn-primary'" 
                    (click)="selectTemplate(template, $event)" class="me-2">
                    {{ template.IsSelected ? "Selected" : "Select" }}
                    <i class="bi bi-check"></i>
                  </button>
                  <button class="btn btn-danger" title="Coming Soon">Preview</button>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
  </div>
  <div class="d-flex justify-content-center">
      <button id="saveTemplate" (click)="save()" class="btn btn-success w-50 mt-3">Next</button>
    </div>
  </div>
  </div>

<!-- <div className="container-fluid">      
    <div className="container">
      <div className="row justify-content-center">
        <p className="text fw-semibold py-5">Choose Template</p>
        <div className="col-12 bg-white p-4 mb-5">
          <div className="row justify-content-around">
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig">
                @for (slide of slides; track slide.img) {
                    <div ngxSlickItem class="slide">
                        <img src="{{ slide.img }}" alt="No property image" />                              
                        <div className="d-flex justify-content-between"></div>
                    </div>
                }
                </ngx-slick-carousel>
                <button (click)="slickModal.slickGoTo(2)" class="btn btn-default">Next</button>
        </div>
    </div>
</div>
</div>
</div> -->
