.nav_bg {
 background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1050;
}

.nav_content {
	color: rgb(15, 15, 15);
	font-size: 14px;
}

.home_nav {
	align-items: center;
	justify-content: center;
	gap: 46px;
	font-weight: 600;
}

.hover-dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	border: none;
}

.dropdown-item {
	font-size: 14px;
	font-weight: 500;
}

.dropdown-item:hover {
	font-weight: 600;
	background-color: rgba(255, 255, 255, 0.1);
}
