.nav_bg {
	background-color: var(--primary-color);
}

.nav_content {
	color: white;
	font-size: 14px;
}

.home_nav {
	align-items: center;
	justify-content: center;
	gap: 46px;
	font-weight: 600;
}

.hover-dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	// background-color: var(--primary-color);
	border: none;
}

.dropdown-item {
	// color: white !important;
	font-size: 14px;
	font-weight: 600;
}

.dropdown-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
	// color: white !important;
}
