    <h1 mat-dialog-title style="color: gray !important;">Enter Site URL</h1>
    <mat-dialog-content id="siteDialog">
        <form [formGroup]="templateForm" name="siteForm" *ngIf="templateForm">
          <br>
        <mat-form-field appearance="fill">
          <mat-label>Site URL</mat-label>
          <input formControlName="siteUrl" required matInput placeholder="Site URL" />
          <mat-error>Site Url is required</mat-error>
        </mat-form-field>
      </form>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="close()" class="btn btn-dark me-2 px-4 py-2 fw-semibold mt-5">Close</button>
        <button class="btn btn-success me-2 px-4 py-2 fw-semibold mt-5" (click)="save()">Save</button>
      </mat-dialog-actions>