<header class="position-fixed top-0 start-0 w-100 glass-header shadow-sm">
  <div class="container-fluid">
    <div class="container search-container">
      <div class="row align-items-center py-3 g-3">

        <div class="col-lg-4 col-12">
          <div class="agent-block text-center text-lg-start">
            <h3 class="fw-bold mb-0 text-uppercase info">
              {{ siteConfig?.businessName }}
            </h3>
          </div>

          <div class="d-flex gap-2 mt-2 justify-content-center justify-content-lg-start">
            @if (siteConfig.websiteSettings.socialLinks.facebook) {
              <a [href]="siteConfig.websiteSettings.socialLinks.facebook"
                 target="_blank"
                 class="btn btn-light border">
                <i class="bi bi-facebook facebook"></i>
              </a>
            }

            @if (siteConfig.websiteSettings.socialLinks.twitter) {
              <a [href]="siteConfig.websiteSettings.socialLinks.twitter"
                 target="_blank"
                 class="btn btn-light border">
                <i class="bi bi-twitter twitter"></i>
              </a>
            }

            @if (siteConfig.websiteSettings.socialLinks.instagram) {
              <a [href]="siteConfig.websiteSettings.socialLinks.instagram"
                 target="_blank"
                 class="btn btn-light border">
                <i class="bi bi-instagram instagram"></i>
              </a>
            }

            @if (siteConfig.websiteSettings.socialLinks.linkedin) {
              <a [href]="siteConfig.websiteSettings.socialLinks.linkedin"
                 target="_blank"
                 class="btn btn-light border">
                <i class="bi bi-linkedin linkedin"></i>
              </a>
            }
          </div>
        </div>

        <!-- Logo -->
        <div class="col-lg-4 col-12 d-flex justify-content-center">
          @if (siteConfig) {
            <a [routerLink]="['home']">
              <img
                [src]="siteConfig.websiteSettings.brokerageImage
                  ? localImageUrl + siteConfig.websiteSettings.brokerageImage
                  : '/images/Nologo.png'"
                alt="Brokerage Logo"
                height="80" />
            </a>
          }
        </div>

        <!-- Contact -->
        <!-- <div class="col-lg-4 col-12 d-flex justify-content-center justify-content-lg-end gap-4 flex-wrap">
          <div class="contact-chip">
            <i class="fa-solid fa-phone info"></i>
            <a
              class="text-decoration-none fw-semibold small"
              [href]="'tel:' + siteConfig?.websiteSettings?.contactInfo?.phone | phone">
              {{ siteConfig?.websiteSettings?.contactInfo?.phone | phone }}
            </a>
          </div>

          <div class="contact-chip">
            <i class="fa-solid fa-envelope info"></i>
            <a
              class="text-decoration-none fw-semibold small"
              [href]="'mailto:' + siteConfig?.websiteSettings?.contactInfo?.email">
              {{ siteConfig?.websiteSettings?.contactInfo?.email }}
            </a>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</header>

<div class="pt-header">
  <app-menu />
</div>

