  .offcanvas {
    position: fixed !important;
    z-index: 1055 !important;
  }
  .nav_bg{
    background-color: #0d47a1;
  }

  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030;
    }