$info: #1EA69A;


.image-label {
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/t4/images/banner.jpg');
    background-size: cover;
    background-position: center;
  }
  .overlay-image {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 350px;
  }

  .search-text{
    color: $info !important;
  }
  
  .btn_outline{
    border: $info 1px solid !important;
    color: $info;
  }
  .btn_outline:hover{
    border: $info 1px solid !important;
    background-color: $info;
    color: white;
  }