<div class="container">
	<div class="row py-2 align-items-center justify-content-center">
	  <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
	  <div class="">
						<h4 class="mb-0">{{siteConfig?.name}}</h4>
	</div>
	  </div>
	  <div
		class="col-12 col-lg-6 d-flex py-lg-0 py-4 justify-content-center">
		<div class="d-flex justify-content-center">
		  <div class="">
			<img src="t5/images/vector img/call.svg" alt="" />
		  </div>
		  <div class="ms-2">
			<p class="mb-0">
		<a class="text-dark fw-semibold small text-decoration-none pop" [href]="'tel:{{siteConfig.phone | phone}}'">
							{{siteConfig?.phone | phone}}
						</a>
			</p>
		  </div>
		</div>
		<div class="d-flex justify-content-center ms-3">
		  <div class="">
			<img src="t5/images/vector img/mail.svg" alt="" />
		  </div>
		  <div class="ms-2">
			<p class="mb-0">
			<a class="text-dark fw-semibold small text-decoration-none pop" [href]="'mailto:' +siteConfig?.email">{{siteConfig?.email}}</a>
			</p>
		  </div>
		</div>
	  </div>
	  <div
		class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-end">
		<a routerLink="/" *ngIf="siteConfig">
				<img [src]="siteConfig.logoUrl ? siteConfig.logoUrl : '/images/Nologo.png'" alt="No brokerage logo" height="66px" />
			</a>
	
		
	  </div>
	</div>
  </div>

  <div class="container-fluid p-0 ">
	<nav class="navbar navbar-expand-lg nav_bg" aria-label="Offcanvas navbar large">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
				<span class=""><i class="fa-solid fa-bars text-white"></i></span>
			</button>
			<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasNavbar2Label">
						Brokers
					</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav flex-grow-1 pe-3 home_nav">
					<li class="nav-item">
						<a class="nav-link nav_content" [routerLink]="['about']">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" [routerLink]="['seller']">Seller</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" [routerLink]="['buyer']">Buyer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" [routerLink]="['featured-listings']">Featured Listings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" [routerLink]="['calculator']">Calculators</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav_content" [routerLink]="['contact']">Contact</a>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</nav>
  </div>